{% if post.comment_status != 'open' %}
    <p class="comment-status-closed">{{ _x('Comments are closed for this post.', 'Message instead of form if comments are closed', 'harris') }}</p>
{% else %}
    {{ fn('comment_form', {
    	'title_reply': _x('Leave a comment', 'Comment form title', 'harris')
	}) }}
{% endif %}
