<li id="comment-{{ comment.comment_ID }}" {{ fn('comment_class') }}>
    <article id="div-comment-{{ comment.comment_ID }}" class="comment-body with--padding-bottom">
        <header class="comment-header">
            <div class="author-meta">
                {% if comment.comment_author_url is not empty %}
            	   <cite class="comment-author"><a target="_blank" href="{{ comment.comment_author_url }}">{{ comment.comment_author }}</a></cite>
                {% else %}
                   <cite class="comment-author">{{ comment.comment_author }}</cite>
                {% endif %}
                <time class="comment-date" datetime="{{ fn('comment_date', 'c') }}">
                	<a href="#comment-{{ comment.comment_ID }}">{{ comment.comment_date|date(_x('jS F Y', 'The comment date format', 'harris')) }}</a>
                </time>
            </div>
        </header>

        {% if comment.comment_approved == '0' %}
	        {# This is only displayed to the person who submitted the comment. #}
            <div class="comment-awaiting-approval">
                <p><em>{{ _x('This comment is awaiting approval.', 'Text if comment is not yet approved.', 'harris') }}</em></p>
            </div>
        {% endif %}

        <section class="comment-text">
        	{{ fn('comment_text') }}
        </section>

        <section class="comment-interact">
            {{ fn('comment_reply_link', args|merge({depth: depth, max_depth: args.max_depth}), comment.comment_ID, comment.comment_post_ID) }}
        </section>

    </article>
{#
	DO NOT CLOSE THE LI: WORDPRESS DOES IT FOR YOU
#}
