{% if post.get_comments or 'open' == post.comment_status %}

	{% set post = TimberPost(post) %}

	<section class="c-section c-section-post-comments with--vertical-padding" id="comments">

		{% include 'partials/comments-form.twig' %}

		{% if post.comments|length %}
			<header class="c-section-header">
				<h3 class="c-section-title c-comments-title">{{ _x('Previous comments', 'Section title for post comments', 'harris') }}</h3>
			</header>
			<ol class="commentlist no-bullet">
				{{ fn('wp_list_comments',{
					type:'comment',
					comments: comments,
					callback: ['SayHello\\Theme\\Packages\\Comments', 'formatComment'],
					per_page: -1,
					reply_text: _x('Reply', 'Link text next to each post comment', 'harris'),
					avatar_size: 0
				}) }}
			</ol>
		{% endif %}

	</section>
{% endif %}
