<div class="site-identity">
	{% if theme.theme_mod('custom_logo') %}
		{% set logo = TimberImage(theme.theme_mod('custom_logo')) %}
		<figure class="custom-logo">
			<a class="site-link" href="{{ site.link }}"><img alt="{{ logo.alt }}" src="{{ logo.src }}"></a>
		</figure>
	{% else %}
		<p class="site-title"><a class="site-link" href="{{ site.url }}">{{ site.name }}</a></p>
		<p class="site-description">{{ site.description }}</p>
	{% endif %}
</div>