<!doctype html>
<html {{ fn( 'language_attributes' ) }} class="no-js">
<head>
	<script>
		window.getCookie = function(name) {
			var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
			if (match) return match[2];
		}
		var pagestyle = window.getCookie('pagestyle');
		if(pagestyle){
			document.documentElement.className += (document.documentElement.className !== '' ? ' ' : '') + pagestyle;
		}
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="pingback" href="{{ site.pingback_url }}" />
	{{function('wp_head')}}
</head>

<body class="{{body_class}}">
	<a id="top"></a>
