{% if video and video.url %}
	{% if video.mime_type == 'video/mp4' %}
		<div class="html5video-holder is--object-cover-outer">
			<video{{ videoID is not empty ? ' id="' ~videoID~'"' }} class="html5video-player is--object-cover" playsinline muted loop poster="{{ poster.url }}" preload="none">
				<source src="{{ video.url }}" type="{{ video.mime_type }}">
			</video>
		</div>
	{% else %}
		<!--

			Video {{ video.url }} has MIME type {{ video.mime_type }} and isn't supported

		-->
	{% endif %}
{% endif %}