{% set form_id = random(100) %}

<form role="search" method="get" class="searchform" action="{{ fn('esc_url', fn('home_url', '/')) }}">
	<div class="searchform-inner">
		<label class="show-for-sr" for="s{{ form_id}}">{{ _x('Search for', 'Search field prefix text') }} </label>
		<input type="search" value="{{ fn('get_search_query') }}" name="s" id="s{{ form_id }}">
		<input type="submit" value="{{ _x('Search', 'Search form button') }}" class="primary button">
	</div>
</form>