{% if post.thumbnail %}
	{% import _self as self %}
	<figure class="post-thumbnail-wrapper post-thumbnail-figure">
		{% if link_post %}
			<a href="{{ post.link }}">{{ self.image_tag(post, image_size) }}</a>
		{% else %}
			{{ self.image_tag(post, image_size) }}
		{% endif %}
		{% if not hide_caption and post.thumbnail.caption is not empty %}
			<figcaption class="post-image-caption post-{{ post.type }}-image-caption wp-caption">
				<p class="wp-caption-text">{{ post.thumbnail.caption|nl2br }}</p>
			</figcaption>
		{% endif %}
	</figure>
{% endif %}

{% macro image_tag(post, image_size) %}
	{% if image_size is iterable %}
		<img class="post-thumbnail-image" alt="{{ post.thumbnail.alt }}" src="{{ TimberImage(post.thumbnail).src('original')|resize( image_size.0, image_size.1 ) }}">
	{% elseif image_size %}
		<img class="post-thumbnail-image" alt="{{ post.thumbnail.alt }}" src="{{ TimberImage(post.thumbnail).src( image_size ) }}">
	{% else %}
		<img class="post-thumbnail-image" alt="{{ post.thumbnail.alt }}" src="{{ TimberImage(post.thumbnail).src( 'thumbnail' ) }}">
	{% endif %}
{% endmacro image_tag %}
