{% if user %}
	<!-- START component: {{ component.acf_fc_layout }} -->
{% endif %}
<div class="c-component c-component-{{ component.acf_fc_layout }}{{ component.style ? ' c-component--'~component.style }}">
	{% block content %} {% endblock %}
</div>
{% if user %}
	<!-- END component: {{ component.acf_fc_layout }} -->
{% endif %}
