{% spaceless %}
	{% include 'partials/header.twig' %}
	<div class="outer-wrapper">
		<main class="main c-page-main">
			<div class="row large-collapse">
				<div class="column small-12 medium-8 large-6">
					{% block content %}{% endblock %}
				</div>
				{% include 'partials/sidebar.twig' %}
			</div>
		</main>
		{% include 'components/global-toolbar.twig' %}
		{% include 'components/global-footer.twig' %}
		{% include 'components/navigation/mobile.twig' %}
	</div>
	{% include 'partials/footer.twig' %}
{% endspaceless %}
