{% spaceless %}
	{% include 'partials/header.twig' %}
	<div class="outer-wrapper">
		<main class="main c-page-main">
			{% block content %}{% endblock %}
		</main>
		{% include 'components/global-toolbar.twig' %}
		{% include 'components/global-footer.twig' %}
		{% include 'components/navigation/mobile.twig' %}
	</div>
	{% include 'partials/footer.twig' %}
{% endspaceless %}
