$trueblack: #000 !default;
$darkest-gray: #111 !default;
$dark-gray: #333 !default;
$medium-gray: #ccc !default;
$off-white: #f0f0f0 !default;

html.darkmode {
	body {
		background: $darkest-gray;
		color: $medium-gray;
	}

	.c-post-list .card,
	.with--card-shadow {
		background: $darkest-gray;
		box-shadow: 0 0 $global-margin/2 $trueblack;
		color: $medium-gray;
	}

	.nav.mobile-navigation {
		background-color: rgba($darkest-gray, .95);

		.navigation-items > .menu_entry {
			border-bottom-color: rgba($dark-gray, .5);
		}

		a {
			color: $off-white;
		}
	}

	body:not(.with--toolbar-transparent-over-dark):not(.with--toolbar-transparent-over-light) {
		.nav.toolbar {
			background: linear-gradient($trueblack, rgba($trueblack, .9));
			color: $medium-gray;

			.is-dropdown-submenu {
				background: $trueblack;
				border-color: $darkest-gray;
			}

			.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
				border-top-color: $medium-gray;
			}
		}
	}

	.c-footer {
		background: linear-gradient($trueblack, $darkest-gray);

		.menu-social-media-container .menu-item a:hover {
			color: $darkest-gray;
		}
	}

	.c-page-main {
		a {
			color: $off-white;
		}
	}

	.post-content {
		a {
			color: $off-white;
		}
	}

	.post-meta {
		color: $medium-gray;
	}

	.single-photo .post-thumbnail-image {
		border-color: $dark-gray;
	}

	.c-component-content_with_sidebar .sidebar {
		blockquote {
			background-color: $darkest-gray;
			border: none;
			box-shadow: 0 0 $global-margin/2 $trueblack;
		}

		blockquote,
		blockquote p {
			color: $medium-gray;
		}
	}

	.wp-caption.flickr {
		background-color: $trueblack;
	}

	.archive.tag-wordpress {
		.c-section-loop-header {
			background-color: darken($wordpress-blue, 15%);
		}

		.button {
			background-color: darken($wordpress-blue, 15%);
		}
	}
}