/**
 * View- (not component-) based rules
 * Since 4.8.2018 mhm
 */
@import 'darkmode';

.with--hidden-toolbar {
	.nav.toolbar {
		display: none;
	}
}

.dropdown.menu > li > a {
	background-color: transparent !important;
}

.dropdown.menu .submenu a {
	background-color: $white !important;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
	opacity: .75;
	border-width: 4px;
	right: 12px;
	margin-top: -1px;
}

.with--toolbar-transparent-over-dark {
	.nav.toolbar {
		mix-blend-mode: normal;
		background: transparent;
		color: $white;

		.is-dropdown-submenu {
			background: transparent;
			border-color: rgba($white, .25);
		}

		.dropdown.menu .is-active > a {
			color: inherit;
		}

		.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
			border-top-color: $white;
		}

		.with--scrolloffset & {
			box-shadow: none;
		}
	}
}

.with--toolbar-transparent-over-light {
	.nav.toolbar {
		background: transparent;
		color: $dark-gray;
		text-shadow: 0 0 .25rem rgba($white, .5);
	}
}

.with--toolbar-transparent-custom-colour {
	.nav.toolbar {
		mix-blend-mode: normal;
		background: transparent;
	}
}

.page,
.single {
	.post-gallery {
		margin-top: $global-margin*2;
	}

	.post-media-wrapper {
		margin-bottom: $global-margin*2;
		text-align: center;

		.responsive-embed {
			margin: 0;
		}
	}

	.post-thumbnail-image {
		display: block;
		margin: 0;
		width: 100%;
		@include breakpoint(medium) {
			margin: 0 auto;
			width: auto;
		}
	}

	.post-title {
		margin-bottom: $global-margin/2;
	}

	.with--thumbnail-square,
	.with--thumbnail-tall {
		.post-thumbnail-image {
			max-width: 100%;
		}
	}
}

.single-photo {
	.post-media-outer-wrapper {
		.post-title {
			@extend h3;
		}

		&.tall {
			@include breakpoint(medium) {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-end;
				justify-content: center;
				max-width: rem-calc(1280px);
				margin: 0 auto;

				.content-row {
					flex: 0 0 100%;
				}

				.post-header {
					margin-left: 0;
					flex: 1 0 40%;
				}

				.post-media-wrapper {
					margin-right: 0;
					flex: 1 0 50%;
				}
			}
		}
	}

	.post-thumbnail-image {
		//border: 3px inset $white;
		&.tall {
			margin: 0 auto;
			max-height: 70vh;
			@include breakpoint(medium) {
				max-height: 65vh;
			}
		}
		@include breakpoint(mediumlarge) {
			max-height: 65vh;
		}
		@include breakpoint(xxlarge) {
			max-height: 75vh;
		}
	}
}

.single-format-standard {
	.post-thumbnail-wrapper {
		order: -1;
		position: relative;

		&::after {
			content: '';
			@include flood;
			background-color: rgba(white, .005);
		}

	}
}

.single-format-image {
	.c-post-single {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		&.with--thumbnail-tall {
			flex-flow: row wrap;
			align-items: flex-end;
			max-width: $global-width;
			margin-left: auto;
			margin-right: auto;

			.post-header {
				flex: 1 0 40%;
			}

			.post-media-wrapper {
				flex: 1 0 auto;
			}
		}

		.c-postcontent {
			max-width: 100%;
			margin: 0;
		}

		.post-media-wrapper {
			order: -1;
			position: relative;

			&::after {
				content: '';
				@include flood;
				background-color: rgba(white, .005);
			}

		}

		.c-section-post-comments {
			padding-top: 0;
		}

		.post-title {
			font-size: rem-calc(24);
		}
	}
}

.single-format-video {
	.c-post-single {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		.c-postcontent {
			max-width: 100%;
			margin: 0;
		}

		.post-media-wrapper {
			order: -1;
		}

		.c-section-post-comments {
			padding-top: 0;
		}

		.post-title {
			font-size: rem-calc(24);
		}
	}

	.post-video-wrapper {
		text-align: center;

		&-inner {
			max-width: 1024px;
			margin: 0 auto;
			@include breakpoint(xxlarge) {
				max-width: 1440px;
			}
			@include breakpoint(xxxlarge) {
				max-width: 1600px;
			}
		}
	}
}

.page-template-template-builder {
	.c-footer {
		margin-top: 0;
	}
}

.archive.tag-wordpress {
	.c-page-main {
		padding-top: rem-calc(94px);
		@include breakpoint(medium) {
			padding-top: calc(#{rem-calc(104px)});
		}
	}

	.c-section-loop-header {
		padding: $global-padding*2;
		background-color: $wordpress-blue;
		color: $white;

		a {
			color: inherit;
		}
	}

	.button {
		background-color: $wordpress-blue;
		color: $white;
	}

	.c-post-list .card:hover {
		.button {
			background-color: scale-color($wordpress-blue, $lightness: -14%);
		}

		.post-thumbnail-wrapper:after {
			background-color: rgba($wordpress-blue, .7);
			mix-blend-mode: initial;
			z-index: 1;
		}
	}
}

body.post-type-archive-photo {
	.c-page-main {
		padding-top: rem-calc(90px);
		@include breakpoint(medium) {
			padding-top: rem-calc(100px);
		}
		@include breakpoint(large) {
			padding-top: rem-calc(102px);
		}
	}
}

body.home {
	.c-post-page {
		@include breakpoint(large) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	.c-component {
		@include breakpoint(large) {
			flex: 1 1 50%;
		}

		&-hero {
			@include breakpoint(large) {
				flex-basis: 100%;
			}
		}
	}
}

.post-thumbnail-wrapper-stretcher {
	max-width: 1056px;
	margin: 0 auto;

	img {
		width: 100%;
	}
}
