{% if widget.text is not empty or widget.image is not empty %}
	{{ widget.before_widget }}
		{% if widget.image is not empty %}
			<figure class="widget-figure widget-figure--{{ widget.id }}">
				<a class="widget_sh_sayhello_widget__link" href="https://sayhello.ch/"><img class="widget-image" alt="{{ widget.image.alt ? widget.image.alt : widget.image.title }}" src="{{ TimberImage(widget.image).src('medium') }}"></a>
				{% if widget.text is not empty %}
					<figcaption class="widget-text">
						{{ widget.text }}
					</figcaption>
				{% endif %}
			</figure>
		{% elseif widget.text is not empty %}
			<div class="widget-text">
				{{ widget.text }}
			</div>
		{% endif %}
	{{ widget.after_widget }}

	<style>
		.widget-figure--{{ widget.id }} .widget_sh_sayhello_widget__link {
			shape-outside: url('{{ TimberImage(widget.image).src('medium') }}');
		}
	</style>

{% endif %}
