{% extends "layouts/component.twig" %}

{% block content %}

	<div class="row align-center">

		<header class="c-component__header column small-12 text-center">
			<h1 class="c-component__title">{{ _x('Featured photo collections', 'Component title', 'harris') }}</h1>
		</header>

		{% for collection in component.collections %}
			<article class="c-component__entry column small-12 medium-4">
				{% if Term(collection).get_field('thumbnail') is not empty %}
					<a href="{{ collection.link }}"><img src="{{ Image(Term(collection).get_field('thumbnail')).src('original')|resize(446*2,298*2) }}" alt="{{ collection.title }}"></a>
				{% endif %}
				<h2 class="c-component__entrytitle"><a href="{{ collection.link }}">{{ collection.name }}</a></h2>
				<small class="c-component__entrymeta">{{ collection.posts|length }} photos</small>
				{# {% if Term(collection).get_field('excerpt') is not empty %}
					<div class="c-component__entrydescription">{{ Term(collection).get_field('excerpt')|wpautop }}</div>
				{% endif %} #}
				<a class="c-component__entrylink" href="{{ collection.link }}">{{ _x('View collection', '', 'harris') }}</a>
			</article>
		{% endfor %}

		<div class="c-component__more column small-12 text-center">
			<a class="primary button" href="{{ fn('get_post_type_archive_link', 'photo') }}">{{ _x('More photos', '', 'harris') }}</a>
		</div>

	</div>

{% endblock %}