{% extends "layouts/component.twig" %}

{% block content %}

	{% if component.column|length > 0 %}

		<div class="row row-wider align-center">
			{% for column in component.column %}
				{% if component.layout == '211' and loop.index0 % 3 == 0 %}
					{% set column_size = 'small-12 medium-6' %}
				{% else %}
					{% set column_size = 'small-12 medium-6 large-3' %}
				{% endif %}

				<div class="column {{ column_size }}">
					{% if column.title is not empty %}
						<h2 class="column-title h1 ">{{ column.title }}</h2>
					{% endif %}
					{% if column.content is not empty %}
						<div class="column-content">{{ column.content }}</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

	{% endif %}
{% endblock %}
