{% if component.content is not empty or component.sidebar is not empty %}

	{% extends "layouts/component.twig" %}

	{% block content %}

		<div class="row align-center">
			<div class="column small-12 medium-8 large-7 print-12 c-stack">
				{{ component.content }}
			</div>
			<aside class="sidebar column small-12 medium-4 large-offset-1 print-12">
				{{ component.sidebar }}
			</aside>
		</div>

	{% endblock %}

{% endif %}
