{% if component.content is not empty %}

	{% extends "layouts/component.twig" %}

	{% block content %}

		<div class="row align-center">
			<div class="column small-12 medium-8">
				<div class="c-post-content">{{ component.content }}</div>
			</div>
		</div>

	{% endblock %}

{% endif %}
