<nav class="nav toolbar">
	<div class="row align-justify align-middle">
		<div class="column small-9 large-4">
			{% include 'partials/company-logo.twig' %}
		</div>
		<div class="column small-8 align-right show-for-large">
			{% include 'components/navigation/primary-dropdown.twig' %}
		</div>
		<div class="column small-3 align-right text-right hide-for-large">
			<button class="menu-icon hide-for-large" data-open-navigation>
				<span class="show-for-sr">{{ _x('Open/close navigation', 'Menu open/close button', 'harris') }}</span>
				<span class="menu-icon-stripe-wrap">
					<span class="menu-icon-stripe menu-icon-stripe-first"></span>
					<span class="menu-icon-stripe menu-icon-stripe-middle"></span>
					<span class="menu-icon-stripe menu-icon-stripe-last"></span>
				</span>
			</button>
		</div>
	</div>
</nav>