<footer class="c-footer hide-for-print">
	<div class="c-footer-inner">
		<div class="row align-center">
			<div class="column small-12">
				{% if sidebars.footer1 is not empty or sidebars.footer2 is not empty or sidebars.footer3 is not empty %}
					<div class="row">
						<div class="column small-12 medium-4">
							{{ sidebars.footer1 }}
						</div>
						<div class="column small-12 medium-4">
							{{ sidebars.footer2 }}
						</div>
						<div class="column small-12 medium-4">
							{{ sidebars.footer3 }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</footer>
