{% if component.image is not empty %}

	{% extends "layouts/component.twig" %}

	{% block content %}

		<figure{{ component.with_page_title ? ' class="with--pagetitle"' : '' }}>
			<img src="{{ TimberImage(component.image).src('original')|resize(2400,800) }}" alt="{{ component.image.alt }}">
			{% if component.with_page_title %}
				<figcaption class="row">
					<h1 class="column small-12 page-title">{{ post.title }}</h1>
				</figcaption>
			{% endif %}
		</figure>

	{% endblock %}

{% endif %}