{% extends "layouts/component.twig" %}

{% block content %}

	<section class="row expanded collapse align-center">

		<div class="c-component c-component-{{ component.acf_fc_layout }} c-component-{{ component.overlay }} {{component.proportion}}" data-fullheight>
			{% if component.image_or_video == 'with--image' and component.image is not empty %}
				<figure class="hero-figure">
					<img class="hero-image" src="{{component.image.url|resize(320)}}" srcset="{{component.image.url|resize(320)}} 320w, {{component.image.url|resize(768)}} 768w, {{component.image.url|resize(1536)}} 1536w, {{ component.image.url|resize(2560) }} 2560w, {{ component.image.url|resize(4000) }} 4000w" alt="{{component.image.alt ? component.image.alt : component.image.title}}" />
				</figure>
			{% endif %}

			{% if component.image_or_video == 'with--video' and component.video is not empty %}
				{% set videoID = 'hero-video' %}
				{% include 'partials/html5video.twig' with {video: component.video, poster: TimberImage(component.video_poster), videoID: videoID} %}
			{% endif %}
			{% if component.title is not empty or component.description is not empty or component.hero_show_logo or component.hero_buttons|length %}
				<div class="hero-info text-center">
					{% if component.hero_show_logo %}
						<div class="hero-info-element hero-logo">
							{% if component.logo %}
								{% set logo = TimberImage(component.logo) %}
								<figure class="custom-logo">
									<a class="site-link" href="{{ site.link }}"><img alt="{{ logo.alt }}" src="{{ logo.src }}"></a>
								</figure>
							{% endif %}
						</div>
					{% endif %}

					<div class="hero-info-element hero-buttons">

						{% if component.hero_buttons|length %}
							<div class="row align-center">
								{% for component in component.hero_buttons %}
									{% if component.hero_button.url and component.hero_button.title %}
										<div class="column small-12 mediumlarge-3">
											<a class="green button" {{ component.hero_button.target is not empty ? 'target="_blank"' }} href="{{ component.hero_button.url }}">{{ component.hero_button.title }}</a>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						{% endif %}
					</div>

                    <div class="hero-info-element hero-text">
                        <div class="row align-center">
                            <div class="column small-12 large-6">
                                {% if component.title is not empty %}
                                	<h2 class="hero-title">{{ component.title }}</h2>
                                	{% if component.image_or_video == 'with--video' and component.video is not empty %}
                                    	<p><a class="green button" data-play-video="{{ videoID }}" data-text-playing="{{ _x('Pause video', 'Link text in hero component', 'harris') }}" data-text-paused="{{ _x('Play video', 'Link text in hero component', 'harris') }}">{{ _x('Play video', 'Link text in hero component', 'harris') }}</a></p>
                                    {% endif %}
                                {% endif %}
                                {% if component.description is not empty  %}
                                    <p class="hero-description">{{component.description}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}

            {% if component.showdownarrow %}
                {% set anchorID = random(500) %}
                    <i class="fas fa-arrow-down" aria-hidden="true" data-scrollto><a href="#{{ anchorId }}"></a></i>
            {% endif %}

        </div>

        {% if component.showdownarrow %}
            <span id="after-{{ anchorID }}"></span>
        {% endif %}

    </section>

{% endblock %}
