{% if component.images is not empty %}

	{% extends "layouts/component.twig" %}

	{% block content %}

		{% set sliderID = random(1000000) %}
		<div class="swiper-container swiper-container-{{ sliderID }}" {{ component.images|length > 1 ? 'data-swiper data-swiper-inlineconfig="true"' : '' }}>
			<div class="swiper-wrapper swiper-wrapper-flexrow align-middle">
				{% for image in component.images %}
					<div class="swiper-slide" style="width:auto">
						{% set image = TimberImage(image) %}
						<img src="{{ image.src('medium') }}" alt="{{ image.alt ? image.alt : image.title }}">
					</div>
				{% endfor %}
			</div>
			{% if component.images|length > 1 %}
				<div class="swiper-pagination swiper-pagination-{{ sliderID }}"></div>
				<div class="swiper-button swiper-button-prev"></div>
				<div class="swiper-button swiper-button-next"></div>
			{% endif %}
		</div>

		{% if component.images|length > 1 %}
			<script>
				(function($){
					$(document).ready(function(){
						var swiper = new Swiper('.swiper-container-{{ sliderID }}', {
							navigation: {
								nextEl: '.swiper-button-next',
								prevEl: '.swiper-button-prev',
							  },
							speed: 1000,
							slidesPerView: 'auto',
							initialSlide: 0,
							centeredSlides: true,
							spaceBetween: 20,
							pagination: {
								el: '.swiper-pagination-{{ sliderID }}',
								clickable: true,
							  },
							grabCursor: true
						});
					});
				})(jQuery);
		  </script>
		{% endif %}

	{% endblock %}

{% endif %}