{% extends "layouts/component.twig" %}

{% block content %}

	<div class="row align-center">

		<header class="c-component__header column small-12 text-center">
			<h1 class="c-component__title">{{ component.title }}</h1>
		</header>

		{% for post in component.posts %}
			{% set post = Post(post) %}

			<article class="c-component__entry column small-12 medium-4">
				{% if post.thumbnail is not empty %}
					<a href="{{ post.link }}"><img src="{{ post.thumbnail.src('original')|resize(446*2,298*2) }}" alt="{{ post.title }}"></a>
				{% else %}
					<a class="no-thumbnail" href="{{ post.link }}">{{ post.title }}</a>
				{% endif %}
				<h2 class="c-component__entrytitle"><a href="{{ post.link }}">{{ post.title }}</a></h2>
				<small class="c-component__entrymeta">
					{% if post.thumbnail.image_meta.created_timestamp %}
						{{ 'Photographed on %1$s<br>Published on %2$s'|format(post.thumbnail.image_meta.created_timestamp|date('jS F Y'), post.date) }}
					{% else %}
						Published on {{ post.date }}
					{% endif %}
				</small>
				{% if post.preview.read_more('') is not empty %}
					<div class="c-component__entrydescription">{{ post.preview.read_more('')|wpautop }}</div>
				{% endif %}
				<a class="c-component__entrylink" href="{{ post.link }}">{{ _x('Read more', '', 'harris') }}</a>
			</article>
		{% endfor %}

		<div class="c-component__more column small-12 text-center">
			<a class="primary button" href="{{ photo_archive_link }}">{{ _x('More photos', '', 'harris') }}</a>
		</div>

	</div>

{% endblock %}
