<section class="c-post-list c-post-list-{{ posts.0.type }} no-posts">
    <div class="row align-center">
        <div class="column small-12 mediumlarge-10 large-8">
            <p>{{ _x('There are no photos which match your criteria.', 'Missing posts message', 'harris') }}</p>
            {{ fn('get_search_form') }}
        </div>
    </div>
</section>
