<header class="post-header row">
	<div class="column small-12 {{ post.thumbnail.aspect < 1 ? 'medium-11' : 'medium-8' }}">
		<h1 class="post-title">
			<a href="{{ post.link }}">{{ post.title }}</a>
		</h1>
		{% if not hide_date %}
			<time class="post-meta post-date">
				{% if post.thumbnail.image_meta.created_timestamp %}
					{{ 'Photographed on %1$s<br>Published on %2$s'|format(post.thumbnail.image_meta.created_timestamp|date('jS F Y'), post.date) }}
				{% else %}
					Published on {{ post.date }}
				{% endif %}
			</time>
		{% endif %}
	</div>
</header>