{% if post.video_ref is not empty and post.video_ref is not iterable %}
	<div class="post-media-wrapper post-video-wrapper row collapse align-center">
		<div class="column small-12 medium-9">
			{{ fn('wp_oembed_get', post.video_ref) }}
		</div>
	</div>
{% elseif post.thumbnail is not empty %}

	<figure class="post-media-wrapper post-thumbnail-wrapper">

		{% if post.thumbnail.aspect >= 1.75 %}

			{{ fn('get_the_post_thumbnail', post.id, 'single_xlarge') }}

		{% elseif post.thumbnail.aspect < 1 %}

			{{ fn('get_the_post_thumbnail', post.id, 'medium') }}

		{% else %}

			{{ fn('get_the_post_thumbnail', post.id, 'large') }}

		{% endif %}
	</figure>

{% endif %}
