{% if post.location.lat is not empty and post.location.lng is not empty %}
	<div class="c-postmap">
		<div class="c-postmap__holder" id="detailMap{{ post.id }}" data-map="detail" data-lat="{{ post.location.lat }}" data-lng="{{ post.location.lng }}"></div>
		<a target="_blank" class="is--flood" href="https://earth.google.com/web/search/{{ post.location.lat }},{{ post.location.lng }}/">{{ __( 'View this location in Google Earth', 'harris' ) }}</a>
	</div>
{% endif %}
