{% if not post.hide_title %}
	<header class="post-header row">
		<div class="column small-12 medium-8">
			<h1 class="post-title">
				<a href="{{ post.link }}">{{ post.title }}</a>
			</h1>
			{% if not hide_date %}
				<time class="o-time post-meta post-date">
					<span class="o-time__primary">Published on {{ post.date }}</span>
					{% if not post.hide_thumbnail and post.format != 'gallery' and post.format != 'video' and post.thumbnail.image_meta.created_timestamp %}
						<span class="o-time__secondary">{{ 'Photo from %s'|format(post.thumbnail.image_meta.created_timestamp|date('jS F Y')) }}</span>
					{% endif %}
				</time>
			{% endif %}
		</div>
	</header>
{% endif %}
