{% if post.video_ref is not empty and post.video_ref is not iterable %}
	<div class="post-media-wrapper post-video-wrapper">
		<div class="post-video-wrapper-inner">
			{{ fn('wp_oembed_get', post.video_ref) }}
		</div>
	</div>
{% endif %}
