{% if post.video_ref is not empty and post.video_ref is not iterable %}
	<div class="post-media-wrapper post-video-wrapper row collapse">
		<div class="column small-12 mediumlarge-8 large-9 xlarge-10 xxlarge-12">
			{{ fn('wp_oembed_get', post.video_ref) }}
		</div>
	</div>

{% elseif post.thumbnail is not empty and not post.hide_thumbnail %}

	{% if post.thumbnail.aspect >= 1.75 %}

		<figure class="post-media-wrapper post-thumbnail-wrapper">
			{% if not post.thumbnail.sizes.single_xxlarge or post.thumbnail.sizes.single_xxlarge.width < 1056 %}
				<div class="post-thumbnail-wrapper-stretcher">
					{{ fn('get_the_post_thumbnail', post.id, 'single_xxlarge') }}
					</div>
			{% else %}
				{{ fn('get_the_post_thumbnail', post.id, 'single_xxlarge') }}
			{% endif %}
		</figure>

	{% elseif post.thumbnail.aspect < 1 %}

		<figure class="post-media-wrapper post-thumbnail-wrapper">
			{{ fn('get_the_post_thumbnail', post.id, 'medium') }}
		</figure>

	{% else %}

		<figure class="post-media-wrapper post-thumbnail-wrapper">
			{% if not post.thumbnail.sizes.post_single or post.thumbnail.sizes.post_single.width < 1056 %}
				<div class="post-thumbnail-wrapper-stretcher">
					{{ fn('get_the_post_thumbnail', post.id, 'post_single') }}
					</div>
			{% else %}
				{{ fn('get_the_post_thumbnail', post.id, 'post_single') }}
			{% endif %}
		</figure>

	{% endif %}

{% endif %}
