{#
	This is the default template for The Loop (list of Posts)
#}

{% if posts|length %}

	<!-- Grid layout origin: https://github.com/xieranmaya/blog/issues/6 #wowza -->
	<div class="c-postlist">

		{% if posts|length > 10 %}
			{% set target_height = 300 %}
			{% set image_size = 'medium' %}
		{% else %}
			{% set target_height = 400 %}
			{% set image_size = 'large' %}
		{% endif %}

		{% set unique = fn('uniqid') %}

		<div class="c-postlist__grid post-gallery grid500">
			{% for post in posts %}

				{% set image_src = '' %}

				{% if post.thumbnail is not empty %}
					{% set image = TimberImage(post.thumbnail) %}
					{% set image_src = image.src(image_size) %}
				{% elseif post.video_ref is not empty and post.video_ref|video_thumbnail is not empty %}
					{% set image_src = post.video_ref|video_thumbnail %}
				{% endif %}

				{% if image_src is not empty %}

					{% if image.sizes[image_size] %}
						{% set width = image.sizes[image_size]['width'] %}
						{% set height = image.sizes[image_size]['height'] %}
					{% else %}
						{% set width = 3 %}
						{% set height = 2 %}
					{% endif %}

					{% if width/height >= 1.8 %}
						{% set width = 3 %}
						{% set height = 2 %}
					{% endif %}

					<article class="c-postlist__entry grid-item {{ post.class }}" style="flex-grow:{{ width * 100 / height }};flex-basis:{{ width * target_height / height }}px;">
						<a class="flood" href="{{ post.link }}">
							<div class="c-postlistentry__caption post-gallery-caption">
								<h1 class="c-postlist__entrytitle">{{ post.title }}</h1>
								{% if post.preview.force(true).length(preview_length ? preview_length : 40) is not empty and post.format != 'image' %}
									<p class="c-postlist__entrypreview post-preview">{{ post.preview.force(true).length(preview_length ? preview_length : 40).read_more('').end('…') }}</p>
								{% endif %}
								<p class="c-postlist__entrydate post-gallery-caption-date">Published on {{ post.date }}</p>
							</div>
							<i class="uncollapse" style="padding-bottom:{{ height / width * 100 }}%"></i>
							{% if image_src is not empty %}
								<img class="image" src="{{ image_src }}" alt="{{ image.alt }}">
							{% endif %}
						</a>
					</article>
				{% else %}

					{% set width = 3 %}
					{% set height = 2 %}

					<article class="c-postlist__entry grid-item {{ post.class }}" style="flex-grow:{{ width * 100 / height }}">
						<a class="flood--not" href="{{ post.link }}">
							<div class="c-postlistentry__caption post-gallery-caption">
								<h1 class="c-postlist__entrytitle">{{ post.title }}</h1>
								{% if post.preview.force(true).length(preview_length ? preview_length : 40) is not empty and post.format != 'image' %}
									<p class="c-postlist__entrypreview post-preview">{{ post.preview.force(true).length(preview_length ? preview_length : 40).read_more('').end('…') }}</p>
								{% endif %}
								<p class="c-postlist__entrydate post-gallery-caption-date">Published on {{ post.date }}</p>
							</div>
						</a>
					</article>
				{% endif %}
			{% endfor %}
		</div>

	</div>

	{% include 'components/navigation/pagination.twig' %}

{% endif %}
