{% if post.terms('tags') is not empty %}
	<div class="post-tags">
		<p class="post-meta__title">{{ _x('Topics', 'Text before post tags', 'harris') }}</p>
		{% for term in post.terms('tags') %}
			<a class="menu-link" href="{{term.link}}">{{term.name}}</a>{{ loop.last ? '' : ', ' }}
		{% endfor %}
	</div>
{% endif %}
