{% if post.terms('album') is not empty %}
	<div class="post-tags">
		<p class="post-meta__title">{{ _x('Photo albums', 'Text before post tags', 'harris') }}</p>
		{% for term in post.terms('album') %}
			<a class="menu-link" href="{{ term.link }}">{{ term.name }}</a>{{ loop.last ? '' : ', ' }}
		{% endfor %}
	</div>
{% endif %}
