{% if post.terms('collection') is not empty %}
	<div class="post-tags">
	<p class="post-meta__title">{{ _x('Photo collections', 'Text before post tags', 'harris') }}</p>
	<p>{% for term in post.terms('collection') %}
		<a class="menu-link" href="{{term.link}}">{{term.name}}</a>{{ loop.last ? '' : ', ' }}
	{% endfor %}</p>
	</div>
{% endif %}
