{% extends "layouts/master.twig" %}

{% block content %}
	<div class="c-template-404 has--double--padding">
	    <header class="row align-center">
			<div class="small-12 medium-8 column text-center">
				<h1 class="page-title is--color--dark">{{'Error: 404'}}</h1>
			</div>
	    </header>

        <section class="row align-center">
            <div class="columns small-6 text-center">
            	<div class="content-404">
			        <h3 class="error-404-msg">
			        	{{ _x("I couldn't find what you're looking for.", "Error message on 404 page.", "harris") }}
			        </h3>

		            <p class="error-404-msg">
		            	{{ _x("You'll be redirected in", '404 redirect message (before second indicator)', 'harris') }}
	            		<span data-no-found-counter-index>10</span>
	            		{{ _x('seconds.', '404 redirect message (after second indicator)', 'harris') }}
		            </p>
		            <a class="button" href="{{ site.url }}">
		            	{{ _x('To the home page', 'Back to homepage button-text', 'harris') }}
		            </a>
		        </div>
			</div>
	    </section>
	</div>
{% endblock %}
