{% extends "layouts/master.twig" %}

{% block content %}

	<article class="c-post-page {{ post.class }}">

		{% if post.content is not empty %}
			<div class="row align-center">
				<div class="column small-12 medium-8">
					<div class="post-content c-postcontent">{{ post.content }}</div>
				</div>
			</div>
		{% endif %}

		{% if post.builder is not empty %}
			{% for component in post.builder %}
				{% include 'components/' ~component.acf_fc_layout~ '.twig' ignore missing %}
			{% endfor %}
		{% endif %}

	</article>

{% endblock %}
