{% extends "layouts/master.twig" %}

{% block content %}

	<article class="c-post-page {{ post.class }}">

		{% if not post.hide_title %}
			{% include 'components/post-header.twig' with {hide_date: true} %}

			{% include [
				'components/' ~post.type~ '-' ~post.format~ '-primary-media.twig',
				'components/' ~post.type~ '-primary-media.twig',
				'components/post-primary-media.twig'
			]%}
		{% endif %}

		{% if post.content is not empty %}
			<div class="c-postcontent post-content">{{ post.content }}</div>
		{% endif %}

	</article>

{% endblock %}
