{# 
	This file is used for the list of search results. 
#}

{% extends "layouts/master.twig" %}

{% block content %}

	{% include 'partials/loop-headers/index.twig' %}

	{% if posts|length > 0 %}
		{% include 'components/post-list.twig' %}
	{% else %}
		{% include 'components/no-posts.twig' %}
	{% endif %}

	{% include 'partials/loop-footers/index.twig' ignore missing %}

{% endblock %}
