{% extends "layouts/master.twig" %}

{% block content %}

	<article class="c-post-single {{ post.class }}">

		{% include 'components/post-header.twig' %}

		<div class="row">
			<div class="column small-12 medium-8">
				<div class="post-content c-postcontent">{{ post.content }}</div>
			</div>
		</div>

		{% if post.images|length %}
			<!-- Grid layout origin: https://github.com/xieranmaya/blog/issues/6 #wowza -->
			<div class="post-gallery grid500">
				{% set target_height = 360 %}
				{% for image in post.images %}
					{% set image = TimberImage(image) %}
					{% set imageObject = image.sizes['large'] ? image.sizes['large'] : image.sizes['medium'] %}
					{% if imageObject is not empty %}
						<figure class="grid-item with--card-shadow" style="flex-grow:{{ imageObject.width * 100 / imageObject.height }};flex-basis:{{ imageObject.width * target_height / imageObject.height }}px;">
							<a class="flood fancybox" href="{{ TimberImage(image).src('original') }}" data-fancybox="gallery-{{ unique }}">
								<p class="hover-text">{{ _x('View larger', 'gallery hover text', 'harris') }}</p>
								<i class="uncollapse" style="padding-bottom:{{ imageObject.height / imageObject.width * 100 }}%"></i>
								<img class="lazyload image" data-src="{{ image.src('large') }}" alt="{{ image.alt }}">
							</a>
						</figure>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

		{% if post.terms('tags') is not empty %}
			<div class="row">
				<div class="column small-12 medium-8">
					{% include 'components/single-tax-tags.twig' %}
				</div>
			</div>
		{% endif %}

		{% if post.terms('collection') is not empty %}
			<div class="row">
				<div class="column small-12 medium-8">
				{% include 'components/single-tax-collections.twig' %}
				</div>
			</div>
		{% endif %}

		<div class="row">
			<div class="column small-12 medium-8">
				{% include 'partials/comments.twig' %}
			</div>
		</div>

	</article>

{% endblock %}




{# grow $image['width'] * 100 / $image['height'],
basis $image['width'] * 360 / $image['height'],
padding $image['height'] / $image['width'] * 100, #}
