{% extends "layouts/master.twig" %}

{% block content %}

	<article class="c-post-single {{ post.class }}">

		{% include 'components/post-header.twig' %}
		{% include [
			'components/' ~post.type~ '-' ~post.format~ '-primary-media.twig',
			'components/' ~post.type~ '-primary-media.twig',
			'components/post-primary-media.twig'
		]%}

		<div class="row">
			<div class="column small-12 post-content-wrapper">
				<div class="c-postcontent">
					{{ post.content }}
					<div class="row">
						<div class="column small-12 medium-10">
							{% include 'partials/comments.twig' %}
						</div>
					</div>
				</div>
				 {% if post.terms('tags') is not empty or post.terms('collection') is not empty or post.location is not empty %}
					<div class="post-meta">
						{% include 'components/single-tax-tags.twig' %}
						{% include 'components/single-tax-albums.twig' %}
						{% include 'components/single-tax-collections.twig' %}
						{% include 'components/postmap.twig' %}
						<div class="sidebar sidebar--blogsingle">
							{{ sidebars.blogsingle }}
						</div>
					</div>
				{% endif %}
			</div>
		</div>

	</article>

{% endblock %}
