{% extends "layouts/master.twig" %}

{% block content %}

	<article class="c-post-single {{ post.class }}">

		{% include 'components/post-header-gutenberg.twig' %}
		{% include [
			'components/' ~post.type~ '-' ~post.format~ '-primary-media.twig',
			'components/' ~post.type~ '-primary-media.twig',
			'components/post-primary-media.twig'
		]%}

		<div class="c-postcontent">
			{{ post.content }}
		</div>

		<div class="c-postmeta">
			{% include 'partials/comments.twig' %}

			{% if post.terms('tags')is not empty or post.location is not empty %}
				<div class="post-meta">
					{% if not hide_date %}
						<div class="c-post-publication">
							<p class="post-meta__title">{{ _x('Published', 'Text before publication date', 'harris') }}</p>
							<time class="post-meta post-date">{{ post.date }}</time>
						</div>
					{% endif %}
					{% include 'components/single-tax-tags.twig' %}
					{% include 'components/single-tax-albums.twig' %}
					{% include 'components/single-tax-collections.twig' %}
					{% include 'components/postmap.twig' %}
					<div class="sidebar sidebar--blogsingle">
						{{ sidebars.blogsingle }}
					</div>
				</div>
			{% endif %}
		</div>

	</article>

{% endblock %}
