.alignfull,
.alignwide {
	position: relative;
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
}

.alignwide {
	@include breakpoint(medium) {
		max-width: 90vw;

		&.has-parallax {
			background-position-x: 45vw;
		}
	}
	@include breakpoint(large) {
		max-width: rem-calc(1280px);

		&.has-parallax {
			background-position-x: rem-calc(640px);
		}
	}
}

.alignfull {
	max-width: 100vw;
}

@import 'blocks/code';
@import 'blocks/cover';
@import 'blocks/gallery';
@import 'blocks/image';
@import 'blocks/wp-block-sht-imagegallery';