.card {

	position: relative;
	transition: all 300ms ease;
	box-shadow: $card-shadow;

	@include with-foundation-margin(2, false, true, false, false);

	.card-body {
		flex: 1 auto;
	}

	.card-footer {
		flex: 0 0 0;
		margin-top: auto;
	}

	&:hover {
		box-shadow: 0 0 1rem $medium-gray;
		.button {
			background-color: $button-background-hover;
		}
	}

	&.sticky {
		// border: 1px solid rgba($primary-color, .5);

		// &:after {
		// 	@extend %icomoon;
		// 	font-size: 1rem;
		// 	position: absolute;
		// 	z-index: 1;
		// 	top: 1rem;
		// 	right: 1rem;
		// 	content: '\e905';
		// 	color: $primary-color;
		// 	opacity: .75;
		// }

		// &.has-post-thumbnail:after {
		// 	color: $white;
		// 	opacity: 1;
		// };

		.button {
			// background: $primary-color linear-gradient(scale-color($primary-color, $lightness: 5%), $primary-color);
		}
		.post-preview {
			// font-weight: 500;
			// font-size: 1rem;
		}
		.post-title {
			// color: $primary-color;
			// font-weight: 600;
			// font-size: 1.6rem;
		}
	}

}