.c-component-collections {
	padding: 1.5rem 0;
	@include breakpoint(large) {
		padding: 3rem 0;
	}

	.c-component {
		&__entry {
			display: flex;
			flex-flow: column;
			align-items: flex-start;
			margin-bottom: 1.5rem;

			:last-child {
				margin-top: auto;
			}
		}

		&__entrydescription {
			font-size: $small-font-size;
		}

		&__entrylink {
			font-size: $small-font-size;
		}

		&__entrymeta {
			display: block;
			margin: -1rem 0 1rem;
		}

		&__entrytitle {
			font-size: 1rem;
		}

		&__more {
			margin-top: 1.5rem;
			text-align: center;
		}

		&__title {
			margin: 0 0 1.5rem;
			font-size: 1.5rem;
			@include breakpoint(large) {
				margin: 0 0 3rem;
			}
		}
	}
}