/**
 * This file contains CSS rules for individual site components.
 * If there are more than a few definitions, add an individual file in the components/ folder
 * for each component, and use @import in this file to include them.
 * Since 7.4.2018 mhm
 */
.c-component {
	padding: $global-padding 0;
	@include breakpoint(medium) {
		padding: $global-padding*2 0;
	}

	&--black {
		@media screen {
			background-color: $darkest-gray;
			color: $light-gray;

			a {
				color: $light-gray;
			}

			.primary.button {
				background-color: $light-gray;
				color: $darkest-gray;

				&:active,
				&:hover {
					background-color: $white;
				}
			}
		}
	}

	&--gray,
	&--gray {
		background-color: darken($lightest-gray, 5%);
	}

	&--white {
		background-color: $white;
	}
}
@import 'blocks';
@import 'cards';
@import 'collections';
@import 'content-with-sidebar';
@import 'comments';
@import 'footer';
@import 'grid500';
@import 'flex-gallery';
@import 'header-image';
@import 'hellocookie';
@import 'hero';
@import 'latest_posts';
@import 'latest_photos';
@import 'posts_by_tag';
@import 'post-content';
@import 'post-header';
@import 'postmap';
@import 'image-carousel';
@import 'navigation';
@import 'post-list';
@import 'postlist'; // 08/2019
@import 'search';
@import 'single';
@import 'sidebar';
@import 'stack';
@import 'swiper';
@import 'widget';