.c-section-post-comments {
	.author-meta {
		margin-bottom: $global-margin;
	}

	.comment-form {
		.comment-form-comment {
			label,
			textarea {
				display: block;
			}
		}
	}

	.comment-author {
		font-style: normal;
		font-size: $global-margin;
		line-height: 1.2;
		color: inherit;

		&::before {
			content: '';
		}
	}

	.comment-date {
		@extend .post-meta;

		a {
			text-decoration: none;
		}
	}

	.comment {
		font-size: $small-font-size;
		border-radius: $global-radius;
		background: white;
		box-shadow: 0 0 $global-margin rgba(0,0,0,.05);
		padding: $global-margin;
		margin: $global-margin 0;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.comment-reply-title {
		@extend h5;
	}

	.children {
		list-style: none;
		margin-top: $global-margin;
		margin-left: 0;
		border-left: 2px solid $medium-gray;

		.comment {
			font-size: 1em;
		}
	}

	#cancel-comment-reply-link,
	.logged-in-as {
		font-size: $small-font-size;
		font-weight: normal;
		color: inherit;
	}
}
