.c-component-content_with_sidebar {
	.sidebar {
		font-size: $small-font-size;

		blockquote {
			border: $blockquote-border;
			color: $black;
			background-color: $white;
			box-shadow: $card-shadow;
			padding: $global-padding;
		}
	}
}