.post-gallery {
	.grid-item {
		transition: opacity 300ms ease-in;

		&:hover {
			opacity: .8;
		}
	}

	&-caption {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 10;
		background: linear-gradient(rgba($black,0) 0, rgba($black,.8));
		color: $white;
		padding: 1rem;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-items: flex-start;
		font-size: rem-calc(14);
	}
}
