.c-footer {
	font-size: rem-calc(14);
	margin-top: $global-margin*2;
	padding: $global-padding*2 0;
	border-top: $hr-border;
	@media screen {
		border-top: none;
		background-color: scale-color($dark-gray, $lightness: 5%);
		background: linear-gradient(135deg, scale-color($dark-gray, $lightness: 5%), $dark-gray);
		color: $white;

		a {
			color: inherit;
		}
	}

	.rl-image-widget {
		img {
			mix-blend-mode: luminosity;
			filter: grayscale(1);
		}
	}

	.widget {
		margin-bottom: 1rem;
	}

	.widget-title {
		font-weight: 700;
	}

	.widget_nav_menu {
		.widget-title {
			margin-bottom: 0;
		}
	}

	.menu-social-media-container {
		.menu-item {
			padding: 0.25rem;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}

			a {
				background-color: rgba($white, .2);
				color: $white;
				//font-size: rem-calc(42px);
				border-radius: 100%;
				transition: all 150ms ease-in;

				&:hover {
					background-color: $white;
					color: $dark-gray;
				}
			}
		}
	}

	.widget_sh_sayhello_widget {
		padding: 1rem 0;

		&__link {
			float: left;
			width: percentage(1/3);
			shape-margin: 0.75rem;
			margin-right: 0.75rem;
		}

		.widget-image {
			margin-top: 0.4rem;
		}
	}
}
