.c-component.c-component-header_image {
	padding: 0;

	&:first-of-type {
		margin-top: rem-calc(94px);
		@include breakpoint(medium) {
			margin-top: rem-calc(104px);
		}
	}

	img {
		width: 100%;
	}

	figcaption {
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 0;
		margin-bottom: $global-margin;
		color: $white;
		@include breakpoint(medium) {
			margin-bottom: $global-margin*2;
		}
	}

	figure {
		position: relative;
	}

	.with--pagetitle:after {
		@extend .is--flood;
		content: '';
		background-image: linear-gradient(transparent calc(100% - #{$global-padding * 6}), $black 100%);
		opacity: 0.5;
	}

	.page-title {
		font-weight: $global-weight-bold;
		margin: 0;
		text-shadow: 0 0 rem-calc(4px) rgba($black, .35);
		@include fluid-type(rem-calc(320px), $global-width, rem-calc(17px), rem-calc(32px));
	}
}