.c-component.c-component-hero {
	position: relative;
	// height: 100%;
	// height: 100vh;
	overflow: hidden;
	color: $white;
	margin: 0;
	padding: 0;
	width: 100%;

	.button {
		margin: 0;
	}

	.hero-info {
		position: absolute;
		z-index: 2;
		width: 100%;
		color: $white;
		bottom: rem-calc(24px);
		@include breakpoint(medium) {
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -5%);
		}
		@include breakpoint(large) {
			transform: translate(-50%, -25%);
		}

		.hero-info-element {
			margin: $global-margin 0;
			@include breakpoint(large) {
				margin: $global-margin*2 0;
			}
		}

		.hero-logo img {
			max-width: rem-calc(210px);
		}

		.hero-description,
		.hero-title {
			color: inherit;
		}

		.hero-title {
			@include typo(14, 16, 0);
			font-weight: normal;
		}

		.hero-buttons {
			margin-left: auto;
			margin-right: auto;
			max-width: 50%;
			@include breakpoint(mediumlarge) {
				max-width: 100%;
			}

			.column {
				margin: $global-margin/2 0;
				@include breakpoint(mediumlarge) {
					margin: 0;
				}
			}

			.button {
				display: block;
			}
		}
	}

	.html5video-holder {
		@include flood;
	}

	[data-scrollto] {
		position: absolute;
		left: 50%;
		bottom: rem-calc(24px);
		transform: translateX(-50%);
		z-index: 2;
		color: $white;
		@include breakpoint(medium) {
			font-size: 1rem;
			bottom: rem-calc(105px);
		}
	}

	&.proportion-31 {
		height: 0;
		padding-bottom: percentage(1/3);

		.hero-figure {
			@include flood;
		}
	}

	&.proportion-41 {
		height: 0;
		padding-bottom: percentage(1/4);

		.hero-figure {
			@include flood;
		}
	}

	&.proportion-51 {
		height: 0;
		padding-bottom: percentage(1/5);

		.hero-figure {
			@include flood;
		}
	}

	.c-component-overlay-dark::after,
	.c-component-overlay-light::after {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: block;
		content: '';
	}

	.c-component-overlay-dark {
		.hero-logo {
			filter: brightness(100);
		}

		&::after {
			background: radial-gradient(transparent 25%, rgba($trueblack, .3) 50%, $trueblack 100%);
			opacity: 0.9;
			transition: 300ms opacity ease;
		}

		&.is--playing::after {
			opacity: 0;
		}
	}

	.c-component-overlay-light::after {
		background: linear-gradient(rgba($white, .7), rgba($white, .9));
		opacity: 0.9;
	}

	.fa-chevron-down {
		cursor: pointer;
	}

	.hero-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	.admin-bar & {
		&.proportion-standard {
			height: calc(100% - 46px);
			height: calc(100vh - 46px);
			@include breakpoint(783px) {
				height: calc(100% - 32px);
				height: calc(100vh - 32px);
			}
		}
	}
}