.c-component-image_carousel {
	background-color: $dark-gray;

	.swiper-container {
		overflow: visible !important;
	}

	.swiper-pagination {
		bottom: $global-margin*-1.5;
	}

	.swiper-button {
		mix-blend-mode: luminosity;
		filter: grayscale(1) brightness(500%);
	}

	img {
		transition: all 1s ease;
		transform: scale(.95);
	}

	.swiper-slide-active img {
		box-shadow: 0 0 $global-margin rgba($black, .25);
		transform: scale(1);
	}
}