.c-component-latest_photos {
	background-color: darken($lightest-gray, 5%);
	padding: 1.5rem 0;
	@include breakpoint(large) {
		padding: 3rem 0;
	}

	.no-thumbnail {
		display: block;
		text-indent: -999rem;
		height: 0;
		padding-bottom: 1px;
		background: linear-gradient($light-gray, darken($light-gray, 5%));
		@include breakpoint(medium) {
			padding-bottom: percentage(2/3);
		}
	}

	.post-thumbnail-wrapper {
		position: relative;
	}

	.post-thumbnail-image {
		display: block;
		@supports(object-fit: cover) {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.aspect-ratio {
		display: block;
	}

	.c-component {
		&__entry {
			margin-bottom: 1.5rem;
		}

		&__entrydescription {
			font-size: $small-font-size;
		}

		&__entrylink {
			font-size: $small-font-size;
		}

		&__entrymeta {
			display: block;
			margin: 0 0 1rem;
		}

		&__entrytitle {
			font-size: 1rem;
			margin-bottom: 0;
		}

		&__more {
			margin-top: 1.5rem;
			text-align: center;
		}

		&__title {
			margin: 0 0 1.5rem;
			font-size: 1.5rem;
			@include breakpoint(large) {
				margin: 0 0 3rem;
			}
		}
	}
}
