.menu a {
	line-height: inherit;
}

.nav.toolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient($body-background, rgba($body-background, .9));
	z-index: 110;
	order: -1;
	transition: box-shadow 1s ease;
	padding: .7rem 0;
	font-size: .9rem;
	color: $dark-gray;

	a {
		color: inherit;
		text-decoration: none;
	}

	.column {
		display: flex;
		align-content: center;
	}

	.menu-icon {
		@include with-vertical-foundation-margins;
	}

	.primary-navigation {
		padding: $global-padding 0;
		@media print {
			display: none;
		}
	}

	.page-template-template-builder & {
		mix-blend-mode: luminosity;
	}

	.with--scrolloffset & {
		box-shadow: 0 0 .1rem rgba($black, .25);
	}

	.admin-bar & {
		@media (min-width:601px) {
			top: rem-calc(46px);
		}
		@include breakpoint(783px) {
			top: rem-calc(32px);
		}
	}

	@media (min-width:601px) {
		position: fixed;
	}
}

.nav.mobile-navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	opacity: 0;
	background-color: rgba($body-background, .95);
	transform: translateX(100vw) scale(0);
	transition: opacity 300ms ease-in;
	transform-origin: top right;
	padding: (rem-calc(94px) + $global-padding) 0 4rem;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	@include breakpoint(medium) {
		padding-top: (rem-calc(104px) + $global-padding);
	}
	@include breakpoint(large) {
		display: none;
	}

	.admin-bar & {
		padding-top: 8.5rem;
		@media (min-width:601px) {
			padding-top: rem-calc(94px) + $global-padding;
		}
	}

	.current-menu-ancestor,
	.current-menu-item {
		> .menu_link {
			color: $primary-color;
		}
	}

	.current-menu-item > .menu_link {
		font-weight: 500;
	}

	.navigation-items {
		list-style: none;
		margin: 0;
		@include breakpoint(smallmedium) {
			display: grid;
			grid-gap: $global-margin;
			grid-template-columns: repeat(3, 1fr);
		}
		@include breakpoint(medium) {
			grid-template-columns: repeat(5, 1fr);
			grid-gap: $global-margin*2;
		}

		> .menu_entry {
			border-bottom: 2px solid rgba($primary-color, .3);
			@include breakpoint(medium) {
				border-bottom: none;
			}
		}

		a {
			text-decoration: none;
		}
	}

	.menu_entry {
		padding: $global-padding/2 0;

		.menu_entry {
			padding: 0;
		}
	}

	.menu_link {
		padding-left: 0;
		padding-right: 0;
	}

	.submenu {
		padding-top: $global-padding/2;
		font-size: $small-font-size;
	}
}

.c-navigation-open {
	overflow: hidden;

	body {
		overflow: hidden;
	}

	.nav.toolbar {
		color: $white !important;
		background: linear-gradient($primary-color, rgba($primary-color, .9)) !important;
		mix-blend-mode: normal;
	}

	.nav.mobile-navigation {
		opacity: 1;
		transform: translateX(0) scale(1);
	}

	.menu-icon {
		background-color: $white;

		.menu-icon-stripe {
			background-color: $primary-color;
		}
	}
}

.admin-bar .nav.toolbar-sticky-container {
	.sticky {
		@include breakpoint(medium) {
			margin-top: 46px !important;
		}
		@include breakpoint(783px) {
			margin-top: 32px !important;
		}
	}
}

.site-identity {
	.site-description,
	.site-title {
		margin: .125rem 0;
	}

	.site-title {
		font-size: 1.2rem;
		font-weight: 900;
	}

	.site-description {
		font-size: .6rem;
		text-indent: .05em;
	}
}

.menu-social-media-container {
	.menu-item a {
		@include socialmediaicon();
	}
}
