.c-postlist {
	&__entry {
		&.format-image,
		&.format-video {}

		&.format-standard {
			&.with--nothumbnail {
				&.tag-wordpress {
					.c-postlistentry__caption {
						background: $wordpress-blue url('../images/wordpress-logo.svg') center right 1rem no-repeat;
						background-size: auto calc(90% - 2rem);
						color: $white;
					}
				}

				.c-postlistentry__caption {
					background: rgba(0,0,0,0);
					text-shadow: none;
				}
			}
		}

		&--noimage {
			.c-postlistentry__caption {
				position: static;
				background: rgba(0,0,0,0);
				text-shadow: none;
			}
		}
	}

	&entry__caption {
		background: linear-gradient(rgba($black,0) 50%, $black);
		text-shadow: 0 0 .1875em rgba(15,15,15,.8);
	}

	&__entrydate {
		font-size: rem-calc(11);
		margin: .5rem 0 0;
	}

	&__entrypreview {
		margin: .5rem 0;
		max-width: rem-calc(720px);
	}

	&__entrytitle {
		font-size: 1rem;
		margin: 0;
	}
}
