.post-header {
	&--gutenberg {
		max-width: 45rem;
		margin-left: auto;
		margin-right: auto;
		padding-left: 1rem;
		padding-right: 1rem;
		@include breakpoint(medium) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
