.c-post-list {
	[data-isotope-grid-item] {
		width: 100%;
	}

	.card {
		display: flex;
		flex-direction: column;
		flex: 1 auto;

		&:focus,
		&:hover {
			.post-thumbnail-wrapper:after {
				opacity: .75;
			}
		}

		.is--flood {
			z-index: 1;
		}

		&.format-image {
			justify-content: flex-end;
			padding-top: 37.815%;

			&.with--thumbnail-wide {
				padding-top: 6.66666667%;
			}

			.post-thumbnail-wrapper {
				@extend .is--flood;

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}

				&::after {
					content: '';
					@extend .is--flood;
					background: linear-gradient(transparent 25%, $trueblack 75%);
					opacity: .75;
					mix-blend-mode: multiply;
					transition: opacity 300ms ease;
				}
			}

			.post-thumbnail-image {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			.card-body,
			.card-footer {
				position: relative;
				z-index: 1;
				color: $white;

				.post-meta {
					color: inherit;
				}
			}

			&:hover {
				.post-thumbnail-wrapper:after {
					opacity: 0;
				}

				.card-body {
					opacity: 0;
				}

				.button.hollow.light {
					background-color: $white;
					color: $body-font-color;
				}
			}
		}
	}

	.card-body {
		transition: opacity 300ms ease;
		padding: $global-padding * 2;
	}

	.card-footer {
		padding: 0 $global-padding * 2 $global-padding * 2;
	}

	.column {
		margin-bottom: 0;
	}

	.post-meta-attribute + .post-meta-attribute {
		&:before {
			content: '|';
			margin: 0 $global-margin/2;
		}
	}

	.post-title {
		font-size: rem-calc(21px);
		margin: 0;
	}

	.post-thumbnail-wrapper {
		overflow: hidden;
		position: relative;

		.aspect-ratio {
			display: block;
		}

		a {
			vertical-align: middle;

			&.is--flood {
				text-indent: 0;
			}
		}
	}

	.post-thumbnail-image {
		@include flood;
		transition: transform 300ms ease;
		transform: translateZ(0);

		&.video-ref-image {
			width: 100%;
		}
	}

	.post-thumbnail-video {
		.post-thumbnail-image {
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

.c-post-list-entry {
	display: flex;
	flex-direction: column;
}

.c-section-loop-header {
	margin-top: $global-margin;
	margin-bottom: $global-margin * 2;

	.section-title-prefix {
		display: block;
		font-size: $small-font-size/3;
		margin-bottom: $global-margin/2;
		padding-left: $global-padding/7;
		color: inherit;
		opacity: .5;
		font-weight: 400;
	}
}

.c-post-list-photo {
	.card-body {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(transparent, $black);
		color: $white;
		padding: $global-padding * 4 $global-padding * 2 $global-padding * 2;
	}

	.post-date {
		font-size: .75rem;
	}

	.post-title {
		font-size: 1rem;
	}
}

.c-post-list-post {
	.card.with--thumbnail-tall:not(.format-image) {
		@supports (display: grid) {
			display: grid;
			grid-template-columns: 40% 60%;
			grid-template-areas: 'card-figure card-body' 'card-figure card-footer';

			.post-thumbnail-image,
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			.post-thumbnail-wrapper {
				grid-area: card-figure;
			}

			.card-body {
				grid-area: card-body;
			}

			.card-footer {
				grid-area: card-footer;
			}
		}
	}
}
