.post-content {
	&-wrapper {
		@include breakpoint(large) {
			max-width: percentage(7/12);
		}
	}
}
@supports (display: grid) {
	.post-content {
		&-wrapper {
			@include breakpoint(medium) {
				display: grid;
				column-gap: 2rem;
				grid-template-columns: 4fr 1fr;
			}
			@include breakpoint(large) {
				grid-template-columns: rem-calc(720px) 1fr;
				max-width: 100%;
			}

			.post-tags {
				margin-bottom: 2rem;
				@include breakpoint(medium) {
					padding-top: 0;
				}
			}
		}
	}
}

.c-postcontent {
	max-width: calc(100% - 1.25rem);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	@extend .c-stack;

	@media screen and (min-width: 45rem) {
		max-width: rem-calc(720px);
	}

	body.single-photo & {
		margin-left: 0;
		margin-right: 0;
	}
}
