.searchform {
	.searchform-inner {
		display: flex;
		flex-flow: row wrap;
		@include breakpoint(large) {
			flex-wrap: nowrap;
		}
	}

	[name="s"] {
		flex: 1 0 auto;
		width: auto;
		margin: 0;
		@include breakpoint(medium) {
			flex-basis: 100%;
		}
		@include breakpoint(large) {
			flex-basis: auto;
		}
	}

	.button {
		flex: 0 0 rem-calc(80px);
		margin: 0 0 0 $global-margin/2;
		padding-top: $global-padding*.7;
		padding-bottom: $global-padding*.7;
		@include breakpoint(medium) {
			margin: $global-margin/2 0 0;
		}
		@include breakpoint(large) {
			margin: 0 0 0 $global-margin/2;
		}
	}
}
