// body.single .c-post-single {
// 	&.tag-gutenberg,
// 	&.tag-wordpress {
// 		.post-title a {
// 			display: flex;
// 			flex-flow: row;
//
// 			&::before {
// 				content: '';
// 				flex: 0 0 .75em;
// 				margin-left: .25em;
// 				background: url('../images/wordpress-logo-dark.svg') top .2em center/contain no-repeat;
// 				order: 999;
// 			}
// 		}
// 	}
// }

.c-postmeta {
	max-width: 45rem;
	margin-left: auto;
	margin-right: auto;
	@include breakpoint(medium) {
		display: grid;
		grid-template-columns: 3fr 2fr;
		grid-gap: 2rem;
		padding-top: 2rem;
		border-top: 1px solid $light-gray;
	}

	.c-post-publication {
		margin: 0 0 1rem;
	}
}

.c-gutenbergpost {
	.c-section-post-comments {
		padding-top: 0;
		bottom: 0;
	}

	.c-postcontent {
		margin-bottom: 2rem;
		padding-left: 1rem;
		padding-right: 1rem;
		@include breakpoint(medium) {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.wp-block-cover:first-child {
		margin-top: rem-calc(-34px);
		@include breakpoint(medium) {
			margin-top: rem-calc(-47px);
		}
		@include breakpoint(large) {
			margin-top: rem-calc(-38px);
		}
	}
}
