/*
  * https://every-layout.dev/layouts/stack/
 */

.c-stack {

	--stack-space-top: 1rem;
	--stack-space-bottom: 1rem;

	> * {
		margin-top: var(--stack-space-top);
		margin-bottom: var(--stack-space-bottom);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
