.widget {
	&_recent_entries {
		ul {
			margin: 0;
			list-style-type: none;
		}

		li {
			margin: 2rem 0;
			display: grid;
			grid-column-gap: 0.5rem;
			grid-template-areas: 'image .' 'image title' 'image excerpt' 'image .';
			grid-template-columns: rem-calc(100px) 1fr;
			grid-template-rows: auto;
			align-items: center;
			position: relative;

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		.widget {
			&__posttitle {
				grid-area: title;
				font-size: 1em;
				font-weight: normal;
				margin: 0;

				a {
					color: $primary-color;
					text-decoration: underline;
				}
			}

			&__postexcerpt {
				grid-area: excerpt;
				//font-size: 0.8em;
			}

			&__postdate {
				display: block;
				font-size: 0.8em;
				color: $gray;
			}

			&__thumbnailplaceholder {
				background-color: $light-gray;
				padding-bottom: percentage(2/3);
			}

			&__thumbnaillink {
				grid-area: image;
				width: rem-calc(100px);
			}
		}
	}
}