/* BASE */
@import 'mixins';
@import 'helpers';
@import 'fancybox';
@import 'fonts';
@import 'grid500';
@import 'gutenberg';
@import 'menu-icon';
@import 'typography';
@import 'wordpress';

html {
	overflow-x: hidden;
	max-width: 100%;
}

.article-body {
	@include clearfix;
}

.outer-wrapper {
	position: relative;
	z-index: 1; // Parallax elements go on z-index 0
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.c-page-main {
	flex: 1 auto;
	padding-top: rem-calc(84px);
	@include breakpoint(medium) {
		padding-top: rem-calc(94px);
	}
	@include breakpoint(medium) {
		padding-top: rem-calc(106px);
	}

	.page-template-template-builder:not(.home) & {
		padding-top: rem-calc(2px);
	}

	.archive &,
	.blog &,
	.single & {
		margin-top: 2rem;
	}

	.archive.tag-wordpress & {
		margin-top: 0;
	}
}

.row {
	width: 100%;
}

[data-isotope-grid-item] {
	width: 100%;
}
@media print {
	.column.print-12 {
		width: 100%;
		max-width: 100%;
	}
}
