@import '../../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.fancybox-thumbs__list a::before {
	border-color: map-get($foundation-palette, 'green');
}

.fancybox-container {
	.fancybox-bg {
		background-color: #000;
		opacity: .85;
	}

	.fancybox-caption {
		text-align: center;
	}

	.fancybox-caption:after,
	.fancybox-caption:before,
	[data-fancybox-zoom] {
		display: none;
	}

	.fancybox-button {
		color: $white !important;

		&[disabled] {
			opacity: .5 !important;
		}
	}

	.fancybox-infobar {
		color: $white;
		font-weight: $global-weight-normal;
	}

	.fancybox-inner {
		z-index: 999;
	}

	.fancybox-button--zoom {
		display: none !important;
	}

}

.admin-bar.fancybox-active .fancybox-inner {
	margin-top: rem-calc(46px);
	@include breakpoint(783px) {
		margin-top: rem-calc(32px);
	}
}
