@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/icomoon.woff') format('woff');
}

%icomoon,
[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-display: swap;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
	content: '\e900';
}

.icon-comment:before {
	content: '\e900';
}

.icon-chat:before {
	content: '\e900';
}

.icon-talk:before {
	content: '\e900';
}

.icon-tags:before {
	content: '\e901';
}

.icon-tumblr:before {
	content: '\e902';
}

.icon-brand:before {
	content: '\e902';
}

.icon-social:before {
	content: '\e902';
}

.icon-redbubble:before {
	content: '\e903';
	color: #e41321;
}

.icon-star-o:before {
	content: '\e904';
}

.icon-star:before {
	content: '\e905';
}

.icon-github:before {
	content: '\e906';
}

.icon-linkedin-square:before {
	content: '\e907';
}

.icon-facebook-square:before {
	content: '\e908';
}

.icon-twitter:before {
	content: '\e909';
}

.icon-instagram:before {
	content: '\e90a';
}
