.grid500 {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	flex-basis: 100%;
	margin: 0 auto $global-margin;
	padding-left: .25rem;
	padding-right: .25rem;

	&::after {
		content: '';
		flex-grow: 999999999;
		min-width: 20%;
		order: 999999999;
	}

	.grid-item {
		flex-basis: calc(50% - 1rem);
		margin: .5rem;
		background-color: #f0f0f0;
		outline: 1px solid #eee;
		position: relative;

		&.with--nothumbnail {
			background-color: rgba(0,0,0,0);
			outline-color: #ddd;
		}

		&:hover .caption {
			opacity: 1;
		}
		@media screen and (min-width: 48rem) {
			flex-basis: calc(33.33333333% - #{$global-margin});
			//margin: .5rem;
		}
		@media screen and (min-width: 64rem) {
			flex-basis: calc(25% - #{$global-margin});
		}
	}

	.uncollapse {
		// Stop layout collapsing before the images have loaded
		display: block;
		background-color: $light-gray;
		padding-bottom: 100%;
		position: relative;
		z-index: 0;
	}

	.caption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: rgba($black, .75);
		color: $white;
		padding: $global-padding / 2;
		font-size: $small-font-size;
		transition: opacity 200ms ease-in;
		opacity: 0;

		&:hover & {
			opacity: 1;
		}
	}

	.image {
		position: absolute;
		z-index: 1;
		vertical-align: bottom;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.flood {
		position: relative;
		display: block;
	}

	.flood--not {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		text-decoration: none;

		.post-gallery-caption {
			position: static;
			width: 100%;
			padding-top: 2rem;
			padding-bottom: 2rem;
			color: $black;
		}
	}

	.hover-text {
		opacity: 0;
		transition: opacity 300ms ease-in;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}

	// .flood:hover {
	// 	.hover-text {
	// 		opacity: 1;
	// 	}
	// }

	.flood:focus {
		.hover-text,
		.uncollapse {
			outline: none;
		}
	}
}
