.wp-block-image {
	@extend .wp-caption.alignnone;

	figcaption {
		@extend .wp-caption-text;
	}
}

.has {
	&-background {
		padding: 1rem;
	}

	&-black-color {
		color: #000;
	}

	&-white-color {
		color: #fff;
	}

	&-yellow-color {
		color: #FFFF99;
	}

	&-light-gray-color {
		color: #777;
	}

	&-primary-color {
		color: #1a56b0;
	}

	&-wordpress-blue-color {
		color: #0073aa;
	}

	&-white-background-color {
		background-color: #fff;
	}

	&-yellow-background-color {
		background-color: #ffc;
		border: 1px solid #ddc;
	}

	&-black-background-color {
		background-color: #000;
	}

	&-light-gray-background-color {
		background-color: #777;
	}

	&-primary-background-color {
		background-color: #1a56b0;
	}

	&-wordpress-blue-background-color {
		background-color: #0073aa;
	}

	&-white-background-color {
		background-color: #fff;
	}

}
