// Helper classes. (Examples. Add/remove as necessary.)

img.lazyload, img.lazyloaded {
	transition: opacity 1s ease;
}

img.lazyload {
	opacity: 0;
}

.is--object-cover {
	// object-fit doesn't work in IE11. Use a workaround.
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.is--flood {
	@include flood;
}

a.is--flood {
	text-align: left !important;
	text-indent: -999rem;
	background: rgba($body-background, .1);
}

.is--object-fit-cover {
	object-fit:cover;
	width: 100%;
	height: 100%;
}

.with--card-shadow {
	transition: box-shadow 300ms ease;
	box-shadow: $card-shadow;
	&:hover {
		box-shadow: 0 0 1rem $medium-gray;
	}
}

.with--vertical-padding {
	padding-top: $global-padding;
	padding-bottom: $global-padding;
	@include breakpoint(large){
		padding-top: $global-padding*2;
		padding-bottom: $global-padding*2;
	}
}

.with--vertical-half-padding {
	padding-top: $global-padding/2;
	padding-bottom: $global-padding/2;
	@include breakpoint(large){
		padding-top: $global-padding;
		padding-bottom: $global-padding;
	}
}

.with--vertical-quarter-padding {
	padding-top: $global-padding/4;
	padding-bottom: $global-padding/4;
	@include breakpoint(large){
		padding-top: $global-padding/2;
		padding-bottom: $global-padding/2;
	}
}

.with--vertical-margin {
	margin-top: $global-margin;
	margin-bottom: $global-margin;
	@include breakpoint(large){
		margin-top: $global-margin*2;
		margin-bottom: $global-margin*2;
	}
}

.with--vertical-half-margin {
	margin-top: $global-margin/2;
	margin-bottom: $global-margin/2;
	@include breakpoint(large){
		margin-top: $global-margin;
		margin-bottom: $global-margin;
	}
}

.with--vertical-quarter-margin {
	margin-top: $global-margin/4;
	margin-bottom: $global-margin/4;
	@include breakpoint(large){
		margin-top: $global-margin/2;
		margin-bottom: $global-margin/2;
	}
}

// Add a margin to the bottom of the element which is the same as the gutter between the columns
// Usually applied to cards in a list view
.with--gutter-bottom {
	@include grid-column-margin; // See Foundation SCSS mixin
}