$menu-icon-background: $primary-color !default;
$menu-icon-stripe: $white !default;

.menu-icon {
	background-color: $menu-icon-background;
	position: relative;
	margin: 0;
	width: rem-calc(40px);
	height: rem-calc(40px);
	cursor: pointer;

	.menu-icon-stripe-wrap {
		display: block;
		padding: 0 rem-calc(11px);
	}

	.menu-icon-stripe {
		position: relative;
		background-color: $menu-icon-stripe;
		height: rem-calc(2px);
		display: block;
		margin: 0 auto;
		transition: transform 300ms ease, opacity 600ms ease;
		&.menu-icon-stripe-middle {
			margin: rem_calc(4px) auto;
		}
	}

	&:focus,
	&:active {
		outline: none;
	}

	&[aria-expanded="true"] {

		.menu-icon-stripe {
			&:nth-child(1) {
				transform: rotate(45deg);
				top: rem-calc(6px);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				top: rem-calc(-6px);
				transform: rotate(-45deg);
			}
		}
	}
}
