// SCSS Mixins.
@mixin flood() {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
}

/**
 * Set custom typography sizes (e.g. header)
 * @param  {int} $size        font-size
 * @param  {int} $line-height line-height
 * @param  {int} $av          AV letter-spacing from XD
 * @return {void}
 */

@mixin typo($size: null, $line-height: null, $av: null) {
	@if ($size) {
		font-size: rem-calc($size*$global-font-size/100);
	}

	@if ($size) {
		@if ($line-height) {
			line-height: ($line-height/$size);
		}
	}

	@if ($av) {
		@include av($av);
	}
}

// AV letter spacing measurement convertor from Adobe applications
// https://scotch.io/tutorials/converting-photoshop-letter-spacing-to-css
@mixin av($size) {
	letter-spacing: ($size / 1000) * 1em;
}

// For use in social media navigation
@mixin socialmediaicon() {
	padding: 0 !important;
	font-size: 0;
	text-indent: -999rem;
	position: relative;
	width: rem-calc(36px);
	height: rem-calc(36px);

	&:before {
		@extend %icomoon;

		display: inline-block;
		content: '';
		font-size: inherit;
		font-family: 'icomoon';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		text-indent: 0;
		font-size: rem-calc(24px);
	}

	&[href*="tumblr."]::before {
		content: '\e902';
	}
	&[href*="github.com"]::before {
		content: '\e906';
	}
	&[href*="instagram.com"]::before {
		content: '\e90a';
	}
	&[href*="twitter.com"]::before {
		content: '\e909';
	}
	&[href*="facebook.com"]::before {
		content: '\e908';
	}
	&[href*="redbubble.com"]::before {
		content: '\e903';
	}
	&[href*="linkedin."]::before {
		content: '\e907';
	}
	// &[href*="wordpress."]::before, &[href*="wpch."]::before, &[href*="wpswitzerland."]::before {
	// 	content: '\e908';
	// }
}


/**
 * Applies the standard Foundation gutters to the left and right of the element
 * All breakpoints in $grid-column-gutter are recognized
 * @param  {int} $factor Multiply the gutter by this value, then halve it
 */

@mixin with-foundation-gutters($factor: 1) {

	@each $breakpoint,
	$gutter in $grid-column-gutter {
		@include breakpoint($breakpoint) {
			padding-left: rem-calc($gutter/2 * $factor);
			padding-right: rem-calc($gutter/2 * $factor);
		}
	}
}


/**
 * Applies the standard Foundation gutters to the top and bottom of the element as padding
 * All breakpoints in $grid-column-gutter are recognized
 * @param  {int} $factor Multiply the gutter by this value, then halve it
 */

@mixin with-foundation-margin($factor: 1,
$top: true,
$bottom: true,
$left: true,
$right: true) {

	@each $breakpoint,
	$gutter in $grid-column-gutter {
		@include breakpoint($breakpoint) {
			@if $top and $bottom and $left and $right {
				margin: rem-calc($gutter/2 * $factor);
			}

			@else {
				@if $top {
					margin-top: rem-calc($gutter/2 * $factor);
				}

				@if $bottom {
					margin-bottom: rem-calc($gutter/2 * $factor);
				}

				@if $left {
					margin-bottom: rem-calc($gutter/2 * $factor);
				}

				@if $bottom {
					margin-bottom: rem-calc($gutter/2 * $factor);
				}
			}
		}
	}
}


/**
 * Applies the standard Foundation gutters to the left and right of the element
 * All breakpoints in $grid-column-gutter are recognized
 * @param  {int} $factor Multiply the gutter by this value, then halve it
 */

@mixin with-vertical-foundation-margins($factor: 1,
$top: true,
$bottom: true) {

	@each $breakpoint,
	$gutter in $grid-column-gutter {
		@include breakpoint($breakpoint) {
			@if $top {
				margin-top: rem-calc($gutter/2 * $factor);
			}

			@if $bottom {
				margin-bottom: rem-calc($gutter/2 * $factor);
			}
		}
	}
}


/**
 * Applies the standard Foundation gutters to the top and bottom of the element as padding
 * All breakpoints in $grid-column-gutter are recognized
 * @param  {int} $factor Multiply the gutter by this value, then halve it
 */

@mixin with-foundation-padding($factor: 1,
$top: true,
$bottom: true,
$left: true,
$right: true) {

	@each $breakpoint,
	$gutter in $grid-column-gutter {
		@include breakpoint($breakpoint) {
			@if $top and $bottom and $left and $right {
				padding: rem-calc($gutter/2 * $factor);
			}

			@else {
				@if $top {
					padding-top: rem-calc($gutter/2 * $factor);
				}

				@if $bottom {
					padding-bottom: rem-calc($gutter/2 * $factor);
				}

				@if $left {
					padding-bottom: rem-calc($gutter/2 * $factor);
				}

				@if $bottom {
					padding-bottom: rem-calc($gutter/2 * $factor);
				}
			}
		}
	}
}


/**
 * Applies the standard Foundation gutters to the top and bottom of the element as padding
 * All breakpoints in $grid-column-gutter are recognized
 * @param  {int} $factor Multiply the gutter by this value, then halve it
 */

@mixin with-vertical-foundation-padding($factor: 1,
$top: true,
$bottom: true) {

	@each $breakpoint,
	$gutter in $grid-column-gutter {
		@include breakpoint($breakpoint) {
			@if $top {
				padding-top: rem-calc($gutter/2 * $factor);
			}

			@if $bottom {
				padding-bottom: rem-calc($gutter/2 * $factor);
			}
		}
	}
}

/**
 * https://css-tricks.com/snippets/css/fluid-typography/
 * $min_width: 320px;
 * $max_width: 1000px;
 * $min_font: 16px;
 * $max_font: 22px;
 */

@function strip-unit($value) {
	@return $value / ($value * 0+1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1==$u2 and $u1==$u3 and $u1==$u4 {
		& {

			font-size: $min-font-size;

			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}

			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}
