/**
 * Global typography ONLY
 * ONLY stuff you can't achieve through Foundation settings
 */
:focus {
	outline-color: $medium-gray;
}

code,
pre {
	color: #930;
	background-color: rgba($black, .075);
	border: none;
}

pre {
	padding: $global-padding/4;
}

hr {
	width: 100%; // needs to be explicit when it's a child of a CSS grid element
}

h1,
h2,
h3,
h4,
h5,
h6 {
	a,
	a:active,
	a:hover {
		text-decoration: none;
		color: inherit;
	}

	* + & {
		--stack-space-top: 2em;
	}
}

h5 {
	color: $black;
}

.button,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	text-decoration: none;
}

a {
	transition: color 300ms ease;

	&:not([href]) {
		cursor: default;
	}
	@media print {
		&:after {
			display: none;
		}
	}
}

p {
	line-height: inherit;
}

address {
	margin: 1rem 0;
}

blockquote {
	font-style: italic;

	p:first-child:last-child {
		margin-bottom: 0;
	}
}

input[type="submit"] {
	@extend .button;
	border: none;
}

a[data-play-video] {
	cursor: pointer;
}

.button.hollow.light {
	color: $white;
	border-color: $white;
}

.post-header {
	margin-bottom: $global-margin*2;
}

.post-meta {
	margin-bottom: $global-margin;
	color: $dark-gray;
	@extend .c-stack;

	.post-header & {
		font-size: .875em;
		--stack-space-top: 0;
		--stack-space-bottom: 0;
	}

	&__title {
		@extend h5;
	}
}

.post-tags {
	@extend .c-stack;
	padding-top: $global-padding;
}

.tagcloud {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;

	.tag-cloud-link {
		hyphens: auto;
		margin-right: $global-margin/2;
	}
}

.c-sidebar {
	.widget {
		margin-bottom: $global-margin*2;
	}

	.widget-title {
		@extend h5;
	}
}
@media print {
	dd,
	dt,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li {
		page-break-inside: avoid;
	}
}
