// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes
// Media alignment

.alignnone {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	height: auto;
}

.aligncenter {
	display: block;
	margin: $global-margin auto;
	height: auto;
}

.alignleft,
.alignright {
	margin-bottom: $global-margin;
	height: auto;
	max-width: 50%; // Needs !important to override inline styles from WordPress Core
}
@include breakpoint(small) {
	// Only float if not on an extra small device
	.alignleft {
		float: left;
	}

	.alignleft,
	.wp-caption.alignleft {
		margin-right: $global-margin;
		margin-bottom: $global-margin;
		@include breakpoint(large) {
			margin-right: $global-margin*2;
			margin-left: -$global-margin*2;
		}
	}

	.alignright {
		float: right;
	}

	.alignright,
	.wp-caption.alignright {
		margin-left: $global-margin;
		margin-bottom: $global-margin;
		@include breakpoint(large) {
			margin-left: $global-margin*2;
			margin-right: -$global-margin*2;
		}
	}

	.alignleft,
	.alignright {
		// Weirdness with line-height means that the top of the image and the top of the text don't line up
		margin-top: 0.3em;
	}
}
// Captions
.wp-caption {
	&.alignnone {
		margin-top: $global-margin;
		margin-bottom: $global-margin;

		&:first-child {
			margin-top: 0;
		}
	}

	&.flickr {
		padding: $global-padding*2 $global-padding;
		background-color: $light-gray;
		text-align: center;
	}
}

.wp-caption-text {
	color: inherit;
	text-align: left;
	padding-top: $global-padding/2;
	margin-top: 0;
	font-size: $small-font-size;
	font-style: italic;
}
