{% if block.data.images is not empty %}

	{% set target_height = 500 %}
	{% set image_size = 'large' %}

	{% if block.data.images | length > 10 %}
		{% set target_height = 400 %}
		{% set image_size = 'medium' %}
	{% endif %}

	{% set unique = fn('uniqid') %}
	<!-- Grid layout origin: https://github.com/xieranmaya/blog/issues/6 #wowza -->
	<section class="wp-block-sht-imagegallery{{ block.align is not empty ? ' align' ~ block.align }}">
		<ul class="wp-block-sht-imagegallery__images c-grid500">
			{% for image in block.data.images %}
				{% set source_image_size = image.sizes[image_size]
					? image_size
					: 'medium' %}
				<li
					class="wp-block-sht-imagegallery__entry c-grid500__item"
					style="flex-grow:{{ image.sizes[source_image_size ~ '-width'] * 100 / image.sizes[source_image_size ~ '-height'] }};flex-basis:{{ image.sizes[source_image_size ~ '-width'] * target_height / image.sizes[source_image_size ~ '-height'] }}px;">
					<a class="c-grid500__itemlink" href="{{ block.is_edit_mode ? '#' : TimberImage(image).src('block_full') }}" data-fancybox="gallery-{{ unique }}" data-caption="{{ image.caption != '' ? image.caption : image.title }}">
						<i class="c-grid500__uncollapse" style="padding-bottom:{{ image.sizes[source_image_size ~ '-height'] / image.sizes[source_image_size ~ '-width'] * 100 }}%"></i>
						<img class="c-grid500__image" src="{{ image.sizes[source_image_size] }}" alt="{{ image.alt }}" srcset="{{ image.srcset }}">
					</a>
				</li>
			{% endfor %}
		</ul>
	</section>
{% endif %}
