{#
	This is the template for the content of a post in The Loop
#}

<article class="{{ post.class }}  with--vertical-padding">
	{% if post.thumbnail %}
		{% include 'partials/thumbnail-default.twig' %}
	{% endif %}
	<h2 class="post-title"><a class="title-link {{ post.class }}" rel="bookmark" href="{{ post.link }}">{{ post.title }}</a></h2>
	<time class="post-date" datetime="{{ post.post_date|date('Y-m-d\TH:i:sO') }}">{{ post.date }}</time>
	{% if post.preview %}
		<p class="post-preview">{{ post.preview }}</p>
	{% endif %}
</article>
