{#
	This is the template for the content of a post in The Loop, which will be displayed in a card
	This is the card which will be shown if no other is available which is more specific.
#}

<article class="card {{ post.class }} flex-container flex-dir-column with--gutter-bottom">
	{% if post.thumbnail and not hide_thumbnail %}
		{% include 'partials/thumbnail-default.twig' with {link_post: true, image_size: [368*2, 244*2], hide_caption: true} %}
	{% endif %}
	<div class="card-section">
		<h2 class="post-title"><a class="title-link {{ post.class }}" rel="bookmark" href="{{ post.link }}">{{ post.title }}</a></h2>
		<time class="post-date" datetime="{{ post.post_date|date('Y-m-d\TH:i:sO') }}">{{ post.date }}</time>
		{% if post.preview %}
			<p class="post-preview">{{ post.preview.force(true).length(preview_length ? preview_length : 60).read_more('').end('…') }}</p>
		{% endif %}
	</div>
	<div class="card-section">
		<a href="{{ post.link }}" class="primary button">{{ _x('Read more', 'Read more button in blog (card) list view', 'harris') }}</a>
	</div>
</article>
