@import 'foundation/foundation';
@import 'base/base';
@import 'components/components';
@import 'objects/all.objects';
@import 'views/views';

:root {
	--color-black: #000;
	--color-white: #fff;
	--color-brown: #930;
	--color-primary: #{$primary-color};
	--color-primary-dark: #{darken($primary-color, 10%)};
	--color-gray-light: #f0f0f0;
}
