<article class="card {{ post.class }} flex-container flex-dir-column with--gutter-bottom">

	{% if post.thumbnail %}

		<figure class="post-thumbnail-wrapper post-thumbnail-figure">
			{{ fn('get_the_post_thumbnail', post.id, 'medium') }}
		</figure>

	{% elseif post.video_ref is not empty %}
		<figure class="post-thumbnail-wrapper post-thumbnail-figure">
			{{ fn('wp_oembed_get', post.video_ref) }}
		</figure>

	{% endif %}

	<div class="card-section card-body">
		<h2 class="post-title"><a class="title-link {{ post.class }}" rel="bookmark" href="{{ post.link }}">{{ post.title }}</a></h2>
		<time class="post-meta-attribute post-date" datetime="{{ post.post_date|date('Y-m-d\TH:i:sO') }}">Published {{ post.date }}</time>
	</div>

	<a href="{{ post.link }}" class="is--flood">{{ post.title }}</a>

</article>
