{% if post %}

	<div class="card card--content">
		<a href="{{post.link}}">
			{% if post.thumbnail %}
				<div class="card-image-wrap">
					<img class="card-image" src="{{ post.thumbnail.src|resize(640, 360) }}" alt="{{post.title}}">
				</div>
			{% endif %}
			<div class="card-section">
				<h3 class="card-title">{{ post.title }}</h3>
				{% if post.thumbnail %}
					<p class="card-section-leadtext">{{ post.leadtext|length > 121 ? post.leadtext|slice(0, 121) ~ '...' : post.leadtext }}</p>
				{% else %}
					<p class="card-section-leadtext">{{ post.leadtext|length > 380 ? post.leadtext|slice(0, 380) ~ '...' : post.leadtext }}</p>
				{% endif %}

				{% if readMore %}
					<p class="text-medium link">{{ readMore }}</p>
				{% else %}
					<p class="text-medium link">{{ _x('Read more', 'Read more of a blog entry', 'wptheme-mountain') }}</p>
				{% endif %}
			</div>
		</a>
	</div>

{% endif %}