{% if post %}

	<div class="card card--team">
		{% if post.image %}
			<div class="card-image-wrap text-center">
				<img class="card-image" src="{{post.image.src('medium')}}" alt="{{post.title}}">
			</div>
		{% endif %}
		<div class="card-section text-center">
			{% if post.title %}
				<h4 class="title-bold">{{ post.title }}</h4>
			{% endif %}
			{% if post.member_function %}
				<p class="text-center">{{ post.member_function }}</p>
			{% endif %}
			{% if post.member_statement %}
				<p class="member-statement text-center">
					{{post.member_statement}}
				</p>
			{% endif %}
		</div>
	</div>

{% endif %}