<article class="card {{ post.class }} flex-container flex-dir-column with--gutter-bottom">

	{% if post.thumbnail %}
		<figure class="post-thumbnail-wrapper post-thumbnail-figure">
			<a href="{{ post.link }}">
				{{ fn('get_the_post_thumbnail', post.id, 'medium') }}
			</a>
		</figure>
	{% elseif post.video_ref is not empty and post.video_ref is not iterable %}
		{% set thumbnail = fn('SayHello\\Theme\\Packages\\Media::getVideoThumbnailTag', post.video_ref) %}
		{% if thumbnail is not empty %}
		{% set percentage = (9/16) * 100 %}
			<figure class="post-thumbnail-wrapper post-thumbnail-video responsive-embed widescreen">
				<i class="aspect-ratio" style="padding-bottom:{{ percentage }}%"></i>
				<a class="is--flood" href="{{ post.link }}">{{ thumbnail }}</a>
			</figure>
		{% endif %}
	{% endif %}

	<div class="card-section card-body">
		<h2 class="post-title"><a class="title-link {{ post.class }}" rel="bookmark" href="{{ post.link }}">{{ post.title }}</a></h2>
		<div class="post-meta">
			<time class="post-meta-attribute post-date" datetime="{{ post.post_date|date('Y-m-d\TH:i:sO') }}">{{ post.date }}</time>
			{% if post.status == 'private' %}
				<span class="post-meta-attribute">{{ _x('Private post', 'Post information text in card list', 'harris') }}</span>
			{% endif %}
		</div>
		{% if post.preview.force(true).length(preview_length ? preview_length : 60) is not empty and post.format != 'image' %}
			<p class="post-preview">{{ post.preview.force(true).length(preview_length ? preview_length : 60).read_more('').end('…') }}</p>
		{% endif %}
	</div>
	<footer class="card-section card-footer">
		{% if post.format == 'image' %}
			<a href="{{ post.link }}" class="hollow light button">{{ _x('View larger', 'Read more button in blog (card) list view', 'harris') }}</a>
		{% elseif post.format == 'video' %}
			<a href="{{ post.link }}" class="button">{{ _x('Watch video', 'Read more button in blog (card) list view', 'harris') }}</a>
		{% else %}
			<a href="{{ post.link }}" class="button">{{ _x('Read more', 'Read more button in blog (card) list view', 'harris') }}</a>
		{% endif %}
	</footer>
	<a href="{{ post.link }}" class="is--flood">{{ post.title }}</a>
</article>
