{% import 'macros/recursiveNavigation.twig' as recursiveNavigation %}

<nav class="nav mobile-navigation">
	<div class="row">
		<div class="column small-12">
			<ul class="navigation-items">
				{% for item in primary_navigation.get_items %}
					{{ recursiveNavigation.item(item) }}
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>