{% if posts.pagination.pages %}
    <div class="row align-center c-loop-pagination">

        <ul class="c-loop-pagination-ul no-bullet horizontal menu">
            {% if posts.pagination.prev %}
                <li class="c-pagination-li">
                    <a href="{{ posts.pagination.prev.link }}" class="prev {{ posts.pagination.prev.link|length ? '' : 'invisible' }}">{{ _x('Previous', 'Previous button text for loop pagination', 'wptheme-nutriteam') }}</a>
                </li>
            {% endif %}
            {% for page in posts.pagination.pages %}
                <li class="c-pagination-li">
                    {% if page.link %}
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    {% else %}
                        <span class="{{ page.class }}{{ page.current ? ' button' : '' }}">{{ page.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
            {% if posts.pagination.next %}
                <li class="c-pagination-li">
                    <a href="{{ posts.pagination.next.link }}" class="next {{ posts.pagination.next.link|length ? '' : 'invisible' }}">{{ _x('Next', 'Next button text for loop pagination', 'wptheme-nutriteam') }}</a>
                </li>
            {% endif %}
        </ul>

    </div>
{% endif %}
