{% import 'macros/recursiveNavigation.twig' as recursiveNavigation %}

<ul class="primary-navigation dropdown menu" data-dropdown-menu>
	{% for item in primary_navigation.get_items %}
		{{ recursiveNavigation.item(item) }}
	{% endfor %}
</ul>