{% import 'macros/recursiveNavigation.twig' as recursiveNavigation %}

<ul class="horizontal menu">
	{% for item in primary_navigation.get_items %}
		{{ recursiveNavigation.item(item) }}
	{% endfor %}
</ul>