{% if queried_object and queried_object.name is not empty %}
	<section class="c-section c-section-loop-header c-section-loop-header-tag with--background-light">
		<div class="row align-justify">
			<div class="column small-12 mediumlarge-10 large-8">
				<header class="section-header">
					<h1 class="section-title"><a href="{{ queried_object.link }}">{{ queried_object.name }}</a></h1>
					{% if queried_object.description is not empty %}
						<div class="loop-header-description">{{ queried_object.description }}</div>
					{% endif %}
				</header>
			</div>
		</div>
	</section>
{% endif%}
