{% if fn('is_category') %}

	{% include ['partials/loop-headers/category.twig', 'partials/loop-headers/default.twig'] %}

{% elseif fn('is_tag') %}

	{% include ['partials/loop-headers/post_tag.twig', 'partials/loop-headers/default.twig'] %}

{% elseif fn('is_tax') %}

	{% include [
		'partials/loop-headers/taxonomy-' ~queried_object.slug~ '.twig',
		'partials/loop-headers/taxonomy-' ~queried_object.taxonomy~ '.twig',
		'partials/loop-headers/default.twig'
	] %}

{% elseif fn('is_author') %}

	{% include ['partials/loop-headers/author.twig', 'partials/loop-headers/default.twig'] %}

{% elseif fn('is_year') %}

	{% include ['partials/loop-headers/year.twig', 'partials/loop-headers/default.twig'] %}

{% elseif fn('is_month') %}

	{% include ['partials/loop-headers/month.twig', 'partials/loop-headers/default.twig'] %}

{% elseif fn('is_day') %}

	{% include ['partials/loop-headers/day.twig', 'partials/loop-headers/default.twig'] %}

{% elseif fn('is_search') %}

	{% include ['partials/loop-headers/search.twig', 'partials/loop-headers/default.twig'] %}

{% elseif fn('is_post_type_archive', 'photo') %}

	{% include ['partials/loop-headers/post-type-photo.twig', 'partials/loop-headers/default.twig'] %}

{% else %}

	{% include 'partials/loop-headers/default.twig' %}

{% endif %}
