<section class="c-section c-section-loop-header c-section-loop-header-tag with--background-light">
	<div class="row align-justify">
		<div class="column small-12 mediumlarge-10 large-8">
			<header class="section-header">
				<h1 class="section-title"><a href="{{ queried_object.link }}">Recent photographs</a></h1>
			</header>
		</div>
	</div>
</section>
