<section class="c-section c-section-loop-header c-section-loop-header-year with--background-light">
	<div class="row align-justify">
		<div class="column small-12 mediumlarge-10 large-8">
			<header class="section-header">
				<h1 class="section-title"><a href="{{ fn('get_search_link', fn('get_search_query')) }}">{{ _x('Search results for “%s”', 'Year loop header title', 'harris')|format(fn('get_search_query')) }}</a></h1>
			</header>
		</div>
	</div>
</section>
