<section class="c-section c-section-loop-header c-section-loop-header-tag with--background-light">
	<div class="row align-justify">
		<div class="column small-12 mediumlarge-10 large-8">
			<header class="section-header">
				<h1 class="section-title"><a href="{{ fn('get_term_link', queried_object) }}">Galleries</a></h1>
				{% if fn('term_description', queried_object) is not empty %}
					<div class="loop-header-description">{{ fn('term_description', queried_object) }}</div>
				{% endif %}
			</header>
		</div>
	</div>
</section>
