<section class="c-section c-section-loop-header c-section-loop-header-year with--background-light">
	<div class="row align-justify">
		<div class="column small-12 mediumlarge-10 large-8">
			<header class="section-header">
				<h1 class="section-title"><a href="{{ fn('get_year_link', fn('get_the_time', 'Y')) }}">{{ _x('Posts from %s', 'Year loop header title', 'harris')|format(fn('get_the_time', 'Y')) }}</a></h1>
				{% if fn('get_the_archive_description') is not empty %}
					<div class="loop-header-description">{{ fn('get_the_archive_description') }}</div>
				{% endif %}
			</header>
		</div>
	</div>
</section>
