{% macro item(item) %}

{% import _self as self %}

    <li class="menu_entry {{ item.class }}">
        <a class="menu_link" href="{{item.get_link}}"{{ item.target is not empty ? ' target="' ~item.target~ '"' }}>{{item.title}}</a>
        {% if item.get_children|length %}
            <ul class="submenu menu vertical">
                {% for child in item.get_children %}
                    {% set lvl = lvl + 1 %}
                    {{ self.item(child)}}
                {% endfor %}
            </ul>
        {% endif %}
    </li>

{% endmacro %}
