.wp-block-cover {

	min-height: 25vh;

	&::after {
		content: '';
		display: block;
	}

	&.is-style-aspect-21::after {
		padding-bottom: percentage(1/2);
	}

	&.is-style-aspect-31::after {
		padding-bottom: percentage(1/3);
	}

	&.is-style-aspect-41::after {
		padding-bottom: percentage(1/4);
	}

	&.is-style-aspect-169::after {
		padding-bottom: percentage(9/16);
	}

	&__inner-container {
		@extend .c-stack;
		margin: 2rem 0;
	}

	&:first-child {
		margin-bottom: 2rem;

		.page & {
			margin-top: rem-calc(94px) !important;
			@include breakpoint(medium) {
				margin-top: rem-calc(104px) !important;
			}
		}
	}

	&.has-background-dim {
		h1 {
			text-shadow: 0 0 3px rgba(0,0,0,.5);
		}
	}

	h1 {
		@include breakpoint(xxxlarge) {
			font-size: 4rem;
			font-weight: 900;
		}
	}
}
