.wp-block-image {
	figcaption {
		max-width: rem-calc(720px);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
	}

	&.alignfull,
	&.alignwide {
		--stack-space-top: 2rem;
		--stack-space-bottom: 2rem;
	}
}
